<div class="addProduct">
    <div class="heading">
        <h2>Add Product Images</h2>

    </div>

    <form name="coverPic" id="coverPic">


        <div class="form-group">
            <label>Product Image1*:</label>

            <div class="controls">
                <div class="span12">

                    <div class="span6">
                        <div class="file_button_container" ngf-select ng-model="fromData.image"
                             required name="image" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'"
                             ng-change="addProductPic1($event)">
                            <div class="fileupload-new  upload_wrp">
                                <img src="front/img/product.png" ng-show="fromData.image == undefined" width="223"  height="105"/>

                                <div ng-if="fromData.image != undefined">
                                    <img ngf-thumbnail="fromData.image || '/thumb.jpg'" width="223"  height="105">
                                </div>
                            </div>
                            <span>

                            Click To Upload</span></div>
                    </div>


                </div>
            </div>
        </div>


    </form>

    <form name="coverPic" id="coverPic">


        <div class="form-group">
            <label>Product Image2*:</label>

            <div class="controls">
                <div class="span12">

                    <div class="span6">
                        <div class="file_button_container" ngf-select ng-model="ImageData.image2"
                             required name="image2" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'"
                             ng-change="addProductPic2($event)">
                            <div class="fileupload-new  upload_wrp">
                                <img src="front/img/product.png" ng-show="ImageData.image2 == undefined" width="223"  height="105"/>

                                <div ng-if="ImageData.image2 != undefined">
                                    <img ngf-thumbnail="ImageData.image2 || '/thumb.jpg'" width="223"  height="105">
                                </div>
                            </div>
                            <span>

                            Click To Upload</span></div>
                    </div>


                </div>
            </div>
        </div>

    </form>

    <form name="coverPic" id="coverPic">


        <div class="form-group">
            <label>Product Image3*:</label>

            <div class="controls">
                <div class="span12">

                    <div class="span6">
                        <div class="file_button_container" ngf-select ng-model="formData.image3"
                             required name="image3" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'"
                             ng-change="addProductPic3($event)">
                            <div class="fileupload-new  upload_wrp">
                                <img src="front/img/product.png" ng-show="formData.image3 == undefined" width="223"  height="105"/>

                                <div ng-if="formData.image3 != undefined">
                                    <img ngf-thumbnail="formData.image3 || '/thumb.jpg'" width="223"  height="105">
                                </div>
                            </div>
                            <span>

                            Click To Upload</span></div>
                    </div>


                </div>
            </div>
        </div>

        <button  class="btn btn-default"  ng-click="submitProduct()"  ng-if="(formData.image3 && ImageData.image2 && fromData.image)" >Submit</button>


    </form>

</div>

<style>
    body > .container {
        margin-top: 100px;
        padding: 0;
    }
    .addProduct {height:650px !important;}

</style>