<div class="addProduct" ng-init="editProduct()">
    <div class="heading">
        <h2>Edit Your Product</h2>

    </div>

    <form name="ProductForm" ng-submit="updateProduct(ProductForm.$valid)" autocomplete="off">
        <div class="form-group">
            <label for="exampleInputEmail1">Product Title*</label>
            <input type="text" ng-model="fromData.title" name="product_title" class="form-control"
                   id="exampleInputEmail1" placeholder="Title" required>
            <div ng-messages="ProductForm.product_title.$error"
                 ng-show="ProductForm.product_title.$invalid && !ProductForm.product_title.$pristine">
                <div ng-message="required" class="error-class">Please Enter Product Title</div>
            </div>
        </div>
        <div class="form-group" ng-init="getAllParentCategoryList()">
            <label>Category*</label>
            <select ng-model="fromData.category" class="form-control" name="product_category"
                    ng-change="getAllSubcategoryList(fromData.category)" required>
                <option value="">Select Category</option>
                <option ng-repeat="x in categories" value="{{x._id}}">{{x.name}}</option>
            </select>
            <div ng-messages="ProductForm.product_category.$error"
                 ng-show="ProductForm.product_category.$invalid && !ProductForm.product_category.$pristine">
                <div ng-message="required" class="error-class">Please Select Product Category</div>
            </div>
        </div>
        <div class="form-group"  ng-init="getSubCaegoryList()">
            <label>Sub Category</label>
            <select ng-model="fromData.subCategory" class="form-control" name="product_subcategory">
                <option value="">Select Sub Category</option>
                <option ng-repeat="y in subCategories" value="{{y._id}}">{{y.name}}</option>
            </select></div>

        <div class="form-group">
            <label for="exampleInputEmail1">Product Price*</label>
            <input type="number" ng-model="fromData.price" class="form-control" name="product_price" required>
            <div ng-messages="ProductForm.product_price.$error"
                 ng-show="ProductForm.product_price.$invalid && !ProductForm.product_price.$pristine">
                <div ng-message="required" class="error-class">Please Enter Product Price</div>
                <div ng-message="number" class="error-class">Please Enter Valid Price</div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Product URL*</label>
            <input type="url" ng-model="fromData.productUrl" name="product_url" class="form-control"
                   placeholder="https://www.amazon.com" required>
            <div ng-messages="ProductForm.product_url.$error"
                 ng-show="ProductForm.product_url.$invalid && !ProductForm.product_url.$pristine">
                <div ng-message="required" class="error-class">Please Enter Product URL</div>
                <div ng-message="url" class="error-class">Please enter valid URL</div>

            </div>
        </div>

        <div class="form-group">
            <label>Address</label>

            <div class="input text"><input name="address" g-places-autocomplete
                                           ng-model="fromData.address"
                                           class="form-control tooltipstered" placeholder="Address"
                                           type="text" required></div>
            <div ng-messages="ProductForm.address.$error"
                 ng-show="ProductForm.address.$invalid && !ProductForm.address.$pristine">
                <div ng-message="required" class="error-class">Please Enter Address</div>

            </div>

        </div>




        <div class="form-group">
            <label for="exampleInputEmail1">Product Description</label>
            <textarea class="form-control" ng-model="fromData.description" class="form-control"
                      name="product_description"></textarea>
        </div>


        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="fromData.check"> Check me out
            </label>
        </div>

        <button type="submit" class="btn btn-default" type="submit" ng-disabled="ProductForm.$invalid">Update Product</button>
    </form>

</div>

<style>
    body > .container {
        margin-top: 100px;
        padding: 0;}
		
	 .addProduct {height:744px !important;}
</style>