<div class="userSec" ng-init="getOtherUserProductList();getAllParentCategoryList()">


  <div class="userTopProducts" >
    <img ng-if="!userData.coverPic" src="front/img/profilePageBanner.png"  width="1170" height="333"  alt="">
    <img ng-if="userData.coverPic" ng-src="{{ imageUrl + 'uploads/admin/' + userData.coverPic }}" width="1170" style="max-height:400px;" alt="">

    <!-- <div class="heading" >
       <div>

         <div class="selection" style="float:none;padding: 4px;">

           <input autocomplete="off" g-places-autocomplete
                  ng-model="addressLocation"
                  type="text" class="search" placeholder="Serach Products By Location">
           <input class="search two" type="search" placeholder="Search By Name">
           <button class="btn btn-default" style="margin: 3px 4px;" ng-click="getOtherUserProductList()">Search</button>
           <div style="clear:both;"></div>
           <select ng-model="limit" ng-change="getOtherUserProductList()">
             <option value="25">25</option>
             <option value="50">50</option>
             <option value="100">100</option>
           </select>

           <select ng-model="sort" ng-change="getOtherUserProductList()">
             <option value="asc">A-Z</option>
             <option value="desc">Z-A</option>
           </select>

         </div>
       </div>


     </div> -->
    <div class="row">
      <div class="categories col-md-2">
        <div id="menu">
          <details open="">
            <summary>Categories </summary>

            <div class="list_items" ng-repeat="x in categories">
              <a ng-click="getOtherUserProductList(x._id)" ><label>{{x.name}}</label></a>
            </div>

          </details>

        </div>







      </div>
      <div class="productSec col-md-8">
        <div class="product acc" ng-repeat="item in results">
          <div class="productTitle"><a target="_blank" href="{{item.productUrl}}">{{item.title}}</a><a  ui-sref="user-dashboard({userId:item.user._id})">({{item.user.name}})</a></div>
          <div class="category"><strong>Category:</strong> {{item.category.name}} <span
                  ng-if="item.subCategory"> > {{item.subCategory.name}} </span></div>
          <div class="rating">
            <ng-rate-it ng-model="rate[item._id]" ng-init="rate[item._id] = item.rate"
                        ng-click="ratedCallback(item._id,loginUserId)"></ng-rate-it>


          </div>
          <div class="productPic"><a ui-sref="product-detail({productId:item._id})">
            <!--<img ng-src="{{ imageUrl + 'uploads/admin/' + item.image }}" width="223" height="105" alt="">-->
            <img ng-if="item.image" ng-src="{{ imageUrl + 'uploads/admin/' + item.image }}"  alt="">
            <img ng-if="!item.image" ng-src="{{ imageUrl + 'uploads/admin/product.png'}}" alt="">
          </a>
          </div>
          <div class="price">${{item.price}}
          </div>
        </div>

        <div style="clear: both"></div>
        <div style="margin-left:50px;">
          <uib-pagination total-items="totalItems" boundary-links="true"
                          ng-model="currentPage"
                          ng-change="getOtherUserProductList()" class="pagination-sm"
                          items-per-page="itemsPerPage"></uib-pagination>
        </div>

        <div ng-if="results.length == 0"  class="productSec col-md-9">
          <div class="alert alert-info">
            <strong>Info!</strong> No record found.
          </div>
        </div>

      </div>
      <div class="categories col-md-2">
        <div id="menu">


          <details>
            <summary>Rating<span id="navarrow"></span> </summary>
            <div class="list_items">
              <ng-rate-it ng-model="rating" ng-click="getOtherUserProductList()"></ng-rate-it>
            </div>
          </details>

          <details>
            <summary>  Price<span id="navarrow"></span> </summary>

            <rzslider rz-slider-model="slide.minValue"
                      rz-slider-high="slide.maxValue"
                      rz-slider-options="slide.options"></rzslider>

          </details>

          <details>
            <summary>  Limit<span id="navarrow"></span> </summary>
            <div>
              <select style="padding-right:120px;" ng-model="limit" ng-change="getOtherUserProductList()">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>

          </details>

          <details>
            <summary>  Sort<span id="navarrow"></span> </summary>
            <select style="padding-right:120px;" ng-model="sort" ng-change="getOtherUserProductList()">
              <option value="asc">A-Z</option>
              <option value="desc">Z-A</option>
            </select>

          </details>




        </div>







      </div>



    </div>
  </div>
</div>


<style>
  body > .container {
    margin-top: 75px;
    padding: 0;
  }


</style>