<div class="userSec" ng-init="getUserProductList();getAllParentCategoryList()">


    <div class="userTopProducts">
        <div class="heading">
            <div>
                <div style="float:left">
                    <button ui-sref="product-add">Add</button>
                </div>

                <div class="selection" style="float:none;padding: 4px;">

                    <input autocomplete="off" g-places-autocomplete
                           ng-model="addressLocation"
                           type="text" class="search" placeholder="Serach Products and more">
                    <button ng-if="addressLocation" ng-click="getUserProductList()">Search</button>
                    <select ng-model="limit" ng-change="getUserProductList()">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>

                    <select ng-model="sort" ng-change="getUserProductList()">
                        <option value="asc">A-Z</option>
                        <option value="desc">Z-A</option>
                    </select>


                </div>

            </div>


        </div>
        <div class="row">
            <div class="categories col-md-3">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0" style="background-color: #222222;padding:5px;">
                            <a style="color:#fff;" data-toggle="collapse" data-parent="" href=""
                               aria-expanded="true" aria-controls="collapseOne">
                                Categories </a>
                            </h5>
                        </div>

                        <div role="tabpanel" aria-labelledby="headingOne" style="padding-left:10px">
                            <div class="card-block" ng-repeat="x in categories">
                                <a ng-click="getUserProductList(x._id)" data-toggle="collapse" data-parent="accordion"
                                   href="collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    {{x.name}}
                                </a>


                            </div>

                        </div>
                    </div>
                </div>
                <h5 class="mb-0" style="background-color: #222222;padding:5px;color:#fff;">
                    Rating
                </h5>
                <ng-rate-it ng-model="rating" ng-click="getUserProductList()"></ng-rate-it>
                <h5 class="mb-0" style="background-color: #222222;padding:5px;color:#fff;">
                    Price
                </h5>
                <rzslider rz-slider-model="slider.minValue"
                          rz-slider-high="slider.maxValue"
                          rz-slider-options="slider.options"></rzslider>
            </div>
            <div class="productSec col-md-9">
                <div class="product acc" ng-repeat="item in results">
                    <div class="productTitle"><a target="_blank" href="{{item.productUrl}}">{{item.title}}</a></div>
                    <div class="category"><strong>Category:</strong> {{item.category.name}} <span
                            ng-if="item.subCategory"> > {{item.subCategory.name}} </span></div>
                    <div class="rating">
                        <ng-rate-it ng-model="rate[item._id]" ng-init="rate[item._id] = item.rate"
                                    ng-click="ratedCallback(item._id,loginUserId)"></ng-rate-it>


                    </div>
                    <div class="productPic"><a ui-sref="product-detail({productId:item._id})"><img
                            ng-src="{{ imageUrl + 'uploads/admin/' + item.image }}" width="223" height="105" alt=""></a>
                    </div>
                    <div class="price">${{item.price}}
                        <small>only</small>
                    </div>
                </div>

                <div style="clear: both"></div>
                <div>
                    <uib-pagination total-items="totalItems" boundary-links="true"
                                    ng-model="currentPage"
                                    ng-change="getUserProductList()" class="pagination-sm"
                                    items-per-page="itemsPerPage"></uib-pagination>
                </div>

            </div>

        </div>

    </div>
</div>

<style>
    body > .container {
        margin-top: 75px;
        padding: 0;
    }

</style>
