<style>
#navbar .highlight:nth-child(3) a {background-color: #616161;}
</style>


<div class="userSec" ng-init="getAllProductList();getAllParentCategoryList()">


    <div class="userTopProducts" >
        <div class="heading" >
            <div>

                <div class="selection" style="float:none;padding: 4px;">

                  <!--  <input autocomplete="off" g-places-autocomplete
                           ng-model="addressLocation"
                           type="text" class="search" placeholder="Serach By Location"> -->
                    <input class="search two" type="search"  ng-model="productName" placeholder="Product Name Or User Name">
                    <button class="btn btn-default" style="margin: 3px 4px;" ng-click="getAllProductList()">Search</button>
                   <div style="clear:both;"></div>


                </div>
            </div>


        </div>
        <div class="row">
            <div class="categories col-md-2">
                <div id="menu">
                    <details open="">
                        <summary>Categories </summary>

                        <div class="list_items" ng-repeat="x in categories">
                           <a ng-click="getAllProductList(x._id)" ><label>{{x.name}}</label></a>
                        </div>

                    </details>








                </div>
            </div>
            <div class="productSec col-md-8" style="float: center">
                <div class="product" style="width: 22.7%;" ng-repeat="item in results" >
                    <div class="productTitle"><a target="_blank" href="{{item.productUrl}}">{{item.title}}</a><a  ui-sref="user-dashboard({userId:item.user._id})">({{item.user.name}})</a></div>
                    <div class="category"><strong>Category:</strong> {{item.category.name}} <span
                            ng-if="item.subCategory"> > {{item.subCategory.name}} </span></div>
                    <div class="rating">
                        <ng-rate-it ng-model="rate[item._id]" ng-init="rate[item._id] = item.rate"
                                    ng-click="ratedCallback(item._id,loginUserId)"></ng-rate-it>


                    </div>
                    <div class="productPic"><a ui-sref="product-detail({productId:item._id})"><img
                            ng-src="{{ imageUrl + 'uploads/admin/' + item.image }}" width="223" height="105" alt=""></a>
                    </div>
                    <div class="price">${{item.price}}
                        <small>only</small>
                    </div>
                </div>

                <div style="clear: both"></div>
                <div style="margin-left:50px;">
                    <uib-pagination total-items="totalItems" boundary-links="true"
                                    ng-model="currentPage"
                                    ng-change="getAllProductList()" class="pagination-sm"
                                    items-per-page="itemsPerPage"></uib-pagination>
                </div>
                <div ng-if="results.length == 0"  class="productSec col-md-9">
                <div class="alert alert-info">
                    <strong>Info!</strong> No record found.
                </div>
            </div>
            
 </div>
            <div class="categories col-md-2">
                <div id="menu">


                    <details>
                        <summary>Rating<span id="navarrow"></span> </summary>
                        <div class="list_items">
                            <ng-rate-it ng-model="rating" ng-click="getAllProductList()"></ng-rate-it>
                        </div>
                    </details>

                    <details>
                        <summary>  Price<span id="navarrow"></span> </summary>

                        <rzslider rz-slider-model="sliderr.minValue"
                                  rz-slider-high="sliderr.maxValue"
                                  rz-slider-options="sliderr.options"></rzslider>

                    </details>

                    <details>
                        <summary>  Product Type<span id="navarrow"></span> </summary>
                        <select style="padding-right:90px;" ng-model="productType" ng-change="getAllProductList()">
                            <option value="null">All Type</option>
                            <option value="Product">Products</option>
                            <option value="Service">Services</option>
                        </select>

                    </details>

                    <details>
                        <summary>  Limit<span id="navarrow"></span> </summary>
                        <div>
                            <select style="padding-right:120px;" ng-model="limit" ng-change="getAllProductList()">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>

                    </details>

                    <details>
                        <summary>  Sort<span id="navarrow"></span> </summary>
                        <select style="padding-right:120px;" ng-model="sort" ng-change="getAllProductList()">
                            <option value="asc">A-Z</option>
                            <option value="desc">Z-A</option>
                        </select>

                    </details>






                </div>
            </div>




    </div>
</div>


<style>
    
      .userSec {margin:0px !important}
		
		.productSec .product {}


</style>