<div class="userTopProducts" ng-init="getUserProductList();getAllParentCategoryList()">
  <div class="heading">
    <div>
      <button ui-sref="product-add">Add Product</button>
      <div class="ProductAvailability">
          <ng-rate-it ng-model="rating"    ng-click="getUserProductList()"></ng-rate-it>

       <!-- <label>Product Availability: </label> -->
        <div>
          <select ng-model="limit" ng-change="getUserProductList()">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <div>
          <select ng-model="sort" ng-change="getUserProductList()">
            <option value="asc">A-Z</option>
            <option value="desc">Z-A</option>
          </select>
        </div>
        <div>
        <input  autocomplete="off" g-places-autocomplete
               ng-model="addressLocation"
               type="text">
          <button ng-if="addressLocation" ng-click="getUserProductList()">Search</button>
        </div>


      </div>
    </div>
  </div>
    <rzslider rz-slider-model="slider.minValue"
              rz-slider-high="slider.maxValue"
              rz-slider-options="slider.options"></rzslider>


    <div class="productSec" ng-repeat="item in results">
    <div class="product">
      <div class="productTitle"><a target="_blank" href="{{item.productUrl}}">{{item.title}}</a></div>
      <div class="category"><strong>Category:</strong> {{item.category.name}} <span ng-if="item.subCategory"> > {{item.subCategory.name}} </span></div>
      <div class="rating">
        <ng-rate-it ng-model="rate[item._id]"   ng-init="rate[item._id] = item.rate" ng-click="ratedCallback(item._id,loginUserId)"></ng-rate-it>


      </div>
      <div class="productPic"><img src="{{ imageUrl + 'uploads/admin/' + item.image }}"  width="223" height="105" alt=""></div>
      <div class="price">${{item.price}} <small>only</small></div>
    </div>


  </div>
  <div style="clear: both"></div>
  <div>
    <uib-pagination total-items="totalItems" boundary-links="true"
                    ng-model="currentPage"
                    ng-change="getUserProductList()" class="pagination-sm"
                    items-per-page="itemsPerPage"></uib-pagination>
  </div>


</div>

<style>
  body > .container {
    margin-top: 75px;
    padding:0;
  }

</style>
