<div class="PostSec" ng-init="getMessageDetail();getMessageInboxDetail()">
    <div class="userSec">
        <div class="userInfo"><img ng-src="{{ imageUrl + 'uploads/admin/' + messageDetail.profilePic }}" width="50" height="50" alt=""> <span>
          <label></label>
          <label>{{messageDetail.name}}</label>
          <label>{{messageDetail.email}}</label>
          </span> </div>
        <div class="userType"><img ng-src="front/img/merchantBadge.png" alt=""><span>{{messageDetail.type}}</span></div>
    </div>
    <div class="desc">
        <div class="msgTitle"><small> {{messageDetail.created | date :  "MMM d, y"}} </small></div>
        <div class="messagedetail" >
            {{messageDetail.description}}
            <li>
                <a ng-if="type" ui-sref="message-board.compose" ng-click="replyFunctionality(messageDetail.from)">
                    Reply <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                </a>
            </li>
        </div>

</div>


    <style>

        .messagedetail {}
        .messagedetail li {float:right;
            list-style:none;}

    </style>