<div class="col-md-3 msg-conversations-container">
 <input type="text" ng-model="searchField" placeholder="Search Messages" style="width:73%;">
    <button type="button" ng-click="search()">Search</button>
    <button ui-sref="message-board.compose" type="button" style="margin: 10px 0px;">Compose</button>


    <div class="">

        <!-- Nav tabs -->
        <ul class="msgTab">
            <li id="inbox"  class="active"><a ng-click="changeTab('inbox','sent')" style="cursor:pointer"
                                             data-toggle="tab"> Inbox</a></li>
            <li id="sent"><a ng-click="changeTab('sent','inbox')" style="cursor:pointer" data-toggle="tab"> Sent</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active">


                <ul>
                    <li ng-repeat="messageSentResult in messageSentResults">

                        <a ui-sref="message-board.details({messageId:messageSentResult._id,type:'sent'})" ng-click="messageType(false)">
                            <img ng-if="!messageSentResult.to.profilePic" src="front/img/profilePic.png" alt="" width="50" height="50">

                            <img ng-if="messageSentResult.to.profilePic" ng-src="{{ imageUrl + 'uploads/admin/' + messageSentResult.to.profilePic }}" width="50" height="50"
                                 alt="">
          <span>
          <label>{{messageSentResult.to.name}} <span>{{messageSentResult.created | date :  "MMM d, y"}}</span></label>
          <label>{{messageSentResult.description | limitTo : 60}}...</label>
          
          </span>
                        </a>
                    </li>

                    <li   ng-repeat="messageReceiveResult in messageReceiveResults">

                        <a ng-class="messageReceiveResult.check ? '' : 'unread'"  ui-sref="message-board.details({messageId:messageReceiveResult._id,type:'inbox'})" ng-click="messageType(true)">
                            <img ng-if="!messageReceiveResult.from.profilePic" src="front/img/profilePic.png" alt="" width="50" height="50">

                            <img ng-if="messageReceiveResult.from.profilePic" ng-src="{{ imageUrl + 'uploads/admin/' + messageReceiveResult.from.profilePic }}" width="50" height="50"
                                 alt="">
          <span>
          <label>{{messageReceiveResult.from.name}} <span>{{messageReceiveResult.created | date :  "MMM d, y"}}</span></label>
          <label>{{messageReceiveResult.description | limitTo : 60}}...</label>

          </span>
                        </a>
                    </li>


                </ul>
            </div>


        </div>
    </div>


</div>

<div class="col-md-9 messageSec" ui-view="details" ></div>


<style>
    body > .container {
        padding: 0;
        width: 1170px;
    }
	#navbar .highlight:nth-child(4) a {background-color: #616161 !important;}
	
	button{background: #efefef;
	
	border:1px solid #a4a4a4;
	color:white;
	font-weight:bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#728499+0,2a3748+29,2a3748+60 */
background: rgb(114,132,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(114,132,153,1) 0%, rgba(42,55,72,1) 29%, rgba(42,55,72,1) 60%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(114,132,153,1) 0%,rgba(42,55,72,1) 29%,rgba(42,55,72,1) 60%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(114,132,153,1) 0%,rgba(42,55,72,1) 29%,rgba(42,55,72,1) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#728499', endColorstr='#2a3748',GradientType=0 ); /* IE6-9 */}

button:hover{background: #ededed;
	background: -moz-linear-gradient(top,  #afafaf 30%, #ededed 100%);
	background: -webkit-linear-gradient(top,  #afafaf 30%,#ededed 100%);
	background: linear-gradient(to bottom,  #afafaf 30%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#ededed',GradientType=0 );
	color:black;}
	
	

</style>