<div class="PostSec" ng-init="getMessageInboxDetail()">
    <div class="userSec">
        <div class="userInfo"><span>
          <label>New Message</label>
          </span> </div>
    </div>
    <div class="desc">
        <angucomplete-alt id="members"
                          placeholder="Search members"
                          pause="400"
                          selected-object="fromData.testObject"
                          remote-url="{{baseUrl}}userSearch/find?s="
                          remote-url-data-field="results"
                          title-field="name,lastName"
                          image-field="profilePic"
                          initial-value="fromData.testObject"
                          input-class="form-control form-control-small"/>
        <form  name="composeMessage" ng-submit="compose(composeMessage.$valid)" autocomplete="off">


             <textarea rows="5" class="form-control"  ng-model="fromData.description"  required></textarea>

           <button type="submit" ng-disabled="composeMessage.$invalid" class="btn btn-default">Send</button>


        </form>
</div>

<style>


</style>