
   <div id="mapCanvas" style="width:60%; float:left; border:1px solid red;"><img ng-src="front/img/map.png"/></div>
<div class="userBanner" ng-init="searchSubmit()">
    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-pw-check"
          name="geographical" ng-submit="searchSubmit(geographical.$valid)">
        <div class="form-group ">
            <div class="input text">
                <input name="address" style="margin: 14px 0px;box-shadow:1px 1px 3px 1px #D5DEDC" googleplace=""
                       id="city_country"
                       ng-model="from.address"
                       class="col-sm-6 tooltipstered"
                       type="text">

            </div>
            <div class="input text">
                <input name="searchUser" style="margin: 14px 0px;box-shadow:1px 1px 3px 1px #D5DEDC"
                       ng-model="fromData.searchUser"
                       class="col-sm-6 tooltipstered"
                       type="text" placeholder="Search By Name">
            </div>


            <div class="input text">
                <select class="col-sm-6" ng-model="fromData.type">
                    <option value="">Select User Type</option>
                    <option value="Merchant">Merchant</option>
                    <option value="Producer">Producer</option>
                    <option value="Service Provider">Service Provider</option>
                    <option value="Registered User">Registered User</option>
                </select>
            </div>

            <div class="input text">
                <select class="col-sm-6" ng-init="fromData.miles='10'" ng-model="fromData.miles">
                    <option value="10">10 miles</option>
                    <option value="50">50 miles</option>
                    <option value="100">100 miles</option>
                    <option value="500">500 miles</option>
                    <option value="1000">1000 miles</option>
                    <option value="5000">5000 miles</option>
                    <option value="10000">10000 miles</option>
                </select>
            </div>
            <div class="col-sm-12 control-label" style="text-align:center;padding:0px 12px;margin-bottom:10px;margin-top:10px;">
                <button type="submit" ng-disabled="!geographical.$valid" class="btn btn-success" disabled="disabled">
                    Submit
                </button>
            </div>


         
        </div>


        <div id="infoPanel" style="display: none">
            <div class="form-group">
                <label class="control-label">Current position:</label>

                <div id="info"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Closest matching address:</label>

                <div id="address" class="col-sm-6"></div>
            </div>
            <input name="lat" id="lat"

                   class="form-control tooltipstered" placeholder="Address"
                   type="text">
            <input name="long" id="long"

                   class="form-control tooltipstered" placeholder="Address"
                   type="text">
            <input name="long" id="latlong"

                   class="form-control tooltipstered" placeholder="Address"
                   type="text">

        </div>


    </form>

</div>
<div class="userTopProducts">
    <div class="heading">
        <div>
            <h3>Near By Users</h3>
        </div>
    </div>
    <div>
        <div class="productSec">


            <div class="product" ng-repeat="user in results" style="margin: 20px 0 0 35px;">
                <div class="productTitle"><a ui-sref="user-dashboard({userId:user._id})">{{user.name}}</a></div>
                <div class="category"><strong>{{user.type}}</strong></div>

                <div ng-if="!user.profilePic" class="productPic"><a ui-sref="user-dashboard({userId:user._id})"><img
                        ng-src="front/img/profilePic.png" alt=""></a></div>
                <div ng-if="user.profilePic" class="productPic"><a ui-sref="user-dashboard({userId:user._id})"><img
                        ng-src="{{ imageUrl + 'uploads/admin/' + user.profilePic }}" alt=""></a></div>

                <div class="followme">
                    <button ng-show="!user.following" follow class="follow" usertid="user._id">+ Follow</button>
                    <button ng-show="user.following" unfollow class="unfollow" usertid="user._id">- UnFollow</button>

                </div>
            </div>


        </div>
        <div style="clear: both"></div>
        <div style="margin-left: 35px;">
            <uib-pagination total-items="totalItems" boundary-links="true"
                            ng-model="currentPage"
                            ng-change="searchSubmit()" class="pagination-sm"
                            items-per-page="itemsPerPage"></uib-pagination>
        </div>
    </div>


    <div ng-if="results.length == 0" class="productSec">
        <div class="alert alert-info">
            <strong>Info!</strong> No record found.
        </div>

    </div>
</div>


<style>
    body > .container {
        margin-top: 75px;
        padding: 0;
		width:1050px;
		
    }

    #mapCanvas {
        width: 100%;
        max-height:250px;
        float: left;
		position:inherit !important;
		overflow:inherit !important;
    }

    #infoPanel {
        float: left;
        margin-left: 10px;
    }

    #infoPanel div {
        margin-bottom: 5px;
    }

    #mapCanvas {
        box-shadow: 1px 1px 3px 3px #D5DEDC;
    }

    .geo-search {
        margin: 327px 0px 0px;
        color: white;
    }
	 
	 


</style>
