<div class="content-wrapper" style="min-height: 426px;">
    <section class="content">
        <div class="row">
            <div class="col-md-12 centered">
                <div class="box box-primary">

                    <form name="SignUpFrom" ng-submit="doSignUp(SignUpFrom.$valid)">
                        <div class="box-header with-border">
                            <h3 class="box-title"><strong>Add New Admin</strong></h3>
                        </div>
                        <div class="box-body">

                            <div class="form-group col-md-9">
                                <label>Admin Type</label>

                                <div class="input text">
                                    <select ng-model="fromData.type" class="form-control" name="admin_type"
                                            required="true">
                                        <option value="">Select Type</option>
                                        <option ng-repeat="x in adminType" value="{{x.type}}">{{x.type}}</option>
                                    </select>
                                </div>

                                <div  class="error" ng-messages="SignUpFrom.admin_type.$error"
                                     ng-show="SignUpFrom.admin_type.$invalid && !SignUpFrom.admin_type.$pristine">
                                    <div ng-message="required" class="error-class">Please Select Admin Type</div>
                                </div>

                            </div>


                            <div class="form-group col-md-9">
                                <label>Name</label>

                                <div class="input text"><input name="first_name" ng-model="fromData.name"
                                                               class="form-control tooltipstered" placeholder="Name"
                                                               id="name" type="text" required>
                                </div>
                                <div class="error" ng-messages="SignUpFrom.first_name.$error"
                                     ng-show="SignUpFrom.first_name.$invalid && !SignUpFrom.first_name.$pristine">
                                    <div ng-message="required" class="error-class">Please Enter Name</div>
                                    <div ng-message="maxlength" class="error-class">This field accept maximum 20
                                        characters
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-9">
                                <label>Email</label>

                                <div class="input text"><input name="email" name="email" type="email" ng-model="fromData.email"
                                                               class="form-control tooltipstered" placeholder="Email"
                                                                email required></div>
                                <div class="error" ng-messages="SignUpFrom.email.$error"
                                     ng-show="SignUpFrom.email.$invalid && !SignUpFrom.email.$pristine">
                                    <div ng-message="required" class="error-class">Please Enter Email</div>
                                    <div ng-message="email" class="error-class">Please enter valid email</div>
                                </div>
                            </div>

                            <div class="form-group col-md-9">
                                <label>Phone</label>

                                <div class="input text"><input name="phone" type="number" ng-model="fromData.phone"
                                                               class="form-control tooltipstered" placeholder="Phone"
                                                               id="description" data-num ng-minlength="10"
                                                               ng-maxlength="10" required number></div>
                                <div class="error" ng-messages="SignUpFrom.phone.$error"
                                     ng-show="SignUpFrom.phone.$invalid && !SignUpFrom.phone.$pristine">
                                    <div ng-message="required" class="error-class">Please Enter Phone</div>
                                    <div ng-message="number" class="error-class">Please enter valid Phone Number</div>
                                    <div ng-message="minlength" class="error-class">This field accept minimum 10 number</div>
                                    <div ng-message="maxlength" class="error-class">This field accept maximum 10 number</div>


                                </div>
                            </div>


                            <div class="form-group col-md-9">
                                <label>Password</label>

                                <div class="input text"><input name="password" ng-model="fromData.password"
                                                               ng-minlength="6" ng-maxlength="30"
                                                               class="form-control tooltipstered" placeholder="password"
                                                               type="password" required></div>


                                <div class="error" ng-messages="SignUpFrom.password.$error"
                                     ng-show="SignUpFrom.password.$invalid && !SignUpFrom.password.$pristine">
                                    <div ng-message="required" class="error-class">Please Enter Password</div>
                                   <div ng-message="minlength" class="error-class">This field accept minimum 6 number</div>
                                    <div ng-message="maxlength" class="error-class">This field accept maximum 30 number</div>


                                </div>

                            </div>


                            <div class="form-group col-md-9">
                                <label>Confirm Password</label>

                                <div class="input text"><input name="confirmPassword"
                                                               ng-model="fromData.confirmPassword" ng-minlength="6"
                                                               ng-maxlength="30" class="form-control tooltipstered"
                                                               placeholder="confirm password" type="password"
                                                               pw-check="fromData.password" required></div>

                                <div class="error" ng-messages="SignUpFrom.confirmPassword.$error"
                                     ng-show="SignUpFrom.confirmPassword.$invalid && !SignUpFrom.confirmPassword.$pristine">
                                    <div ng-message="required" class="error-class">Please Enter Confirm Password</div>
                                    <div ng-message="minlength" class="error-class">This field accept minimum 6 number</div>
                                    <div ng-message="maxlength" class="error-class">This field accept maximum 30 number</div>


                                </div>


                            </div>


                            <div class="form-group col-md-9">
                                <label>Profile Pic:</label>

                                <div class="controls">
                                    <div class="span12">
                                        <div class="fileupload-new  upload_wrp">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                                                 ng-show="fromData.image == undefined"/>

                                            <div ng-if="fromData.image != undefined">
                                                <img ngf-thumbnail="fromData.image || '/thumb.jpg'">
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="file_button_container" ngf-select ng-model="fromData.image"
                                                 required name="image" ngf-pattern="'image/*'"
                                                 ngf-accept="'image/*'"
                                                 ngf-resize="{width: 160, height: 160}"><span> Upload Image</span></div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="box-body">
                            <div class="form-group col-md-2">
                                <input name="id" id="idField" class="tooltipstered" type="hidden">
                                <button type="submit" ng-disabled="SignUpFrom.$invalid"
                                        class="fa fa-save btn btn-block btn-primary"> Submit
                                </button>
                            </div>
                            <div class="form-group col-md-2">
                                <button type="button" class="btn btn-block btn-info fa fa-chevron-left padding-left-lg"
                                        onclick="javascript:history.go(-1);"> Back
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>


