

    <div class="active tab-pane" id="admin-profile.change-password">
        <form class="form-horizontal" name="changePasswordFrom" ng-submit="changePassword(changePasswordFrom.$valid)">
            <div class="form-group">
                <label  class="col-sm-3 control-label">Current Password</label>

                <div class="col-sm-9">
                    <input name="current_Password"  ng-model="fromData.currentPassword" class="form-control"  placeholder="Current Password"  required type="password">

                    <div ng-messages="changePasswordFrom.current_Password.$error"
                         ng-show="changePasswordFrom.current_Password.$invalid && !changePasswordFrom.current_Password.$pristine">
                        <div ng-message="required" class="error-class">Please Enter  Current Password</div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">New Password</label>

                <div class="col-sm-9">
                    <input name="new_Password"  ng-model="fromData.newPassword" class="form-control" ng-minlength="6"
                           ng-maxlength="10" placeholder="New Password"  required type="password">
                    <div ng-messages="changePasswordFrom.new_Password.$error"
                         ng-show="changePasswordFrom.new_Password.$invalid && !changePasswordFrom.new_Password.$pristine">
                        <div ng-message="required" class="error-class">Please Enter  New Password</div>
                        <div ng-message="minlength" class="error-class">This field accept minimum 6 characters</div>
                        <div ng-message="maxlength" class="error-class">This field accept maximum 30
                            characters
                        </div>
                    </div>

                </div>

            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">Confirm Password</label>

                <div class="col-sm-9">
                    <input name="confirm_Password"  ng-model="fromData.confirmPassword" class="form-control" ng-minlength="6"
                           ng-maxlength="10" placeholder="Confirm Password" pw-check="fromData.newPassword" required type="password">
                    <div ng-messages="changePasswordFrom.confirm_Password.$error"
                         ng-show="changePasswordFrom.confirm_Password.$invalid && !changePasswordFrom.confirm_Password.$pristine">
                        <div ng-message="required" class="error-class">Please Enter  Confirm Password</div>
                        <div ng-message="minlength" class="error-class">This field accept minimum 6 characters</div>
                        <div ng-message="maxlength" class="error-class">This field accept maximum 30
                            characters
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" ng-disabled="!changePasswordFrom.$valid" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.tab-pane -->


