<div class="login-box">
  <div class="login-logo">
    <a style="color: #ffff;"><b>{{appName}}</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Activate {{appName}} Account</p>

    <form class="login-form" name="loginFrom" ng-submit="doForgotPassword()" novalidate>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" ng-model="fromData.email" placeholder="Enter Email"  required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">

        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" ng-disabled="!loginFrom.$valid" class="btn btn-primary btn-block btn-flat">Continue</button>
        </div>
        <!-- /.col -->
      </div>
      <div class="form-group">
        <a class="text-center" ui-sref="admin-login">Already activated account</a>
      </div>
    </form>

   
    <!-- /.social-auth-links -->

    <!--<a href="#">I forgot my password</a><br>
    <a href="#" class="text-center">Register a new membership</a> -->

  </div>
  <!-- /.login-box-body -->
</div>