<div class="login-box">
  <div class="login-logo">
    <a style="color: #fff;"><b>{{appName}}</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign up to {{appName}}</p>

    <form class="login-form" name="loginFrom" ng-submit="doSignUp(loginFrom.$valid)" novalidate>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" ng-model="fromData.name" placeholder="Name" >
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>


      <div class="form-group has-feedback">
        <input type="email" class="form-control" ng-model="fromData.email" placeholder="Email" >
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="fromData.password" placeholder="Password" ng-minlength="6" ng-maxlength="30" >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="fromData.confirmPassword" placeholder="Retype Password" ng-minlength="6" ng-maxlength="30"  pw-check="fromData.password" required >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

   <div class="row">

        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" ng-disabled="!loginFrom.$valid" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
      <div class="form-group">
          <br>
        <a class="text-center" ui-sref="admin-login">I already have a membership</a>
      </div>
    </form>

   
    <!-- /.social-auth-links -->

    <!--<a href="#">I forgot my password</a><br>
    <a href="#" class="text-center">Register a new membership</a> -->

  </div>
  <!-- /.login-box-body -->
</div>