<div class="userBanner" ng-init="userProfile();userProductList()">
    <img ng-if="!userData.coverPic" src="front/img/profilePageBanner.png"  width="719" height="33" alt="">
    <img ng-if="userData.coverPic" ng-src="{{ imageUrl + 'uploads/admin/' + userData.coverPic }}" width="1170"  alt="">
    <form name="coverPic"  id="coverPic" ng-submit="saveCoverPic()">
        <div class="uploadPic">
            <span><img src="front/img/uploadPic_icon.png" alt=""></span>
            <div class="file_button_container" ngf-select ng-model="fromData.image"
                 required name="image" ngf-pattern="'image/*'"
                 ngf-accept="'image/*'" ng-change="changeCoverPic($event)"><span> Upload  Picture</span></div>
        </div>
    </form>
</div>
<div class="userSec">
    <div class="profilePic">
        <img ng-if="!userData.profilePic" src="front/img/profilePic.png" alt="">
        <img ng-if="userData.profilePic" ng-src="{{ imageUrl + 'uploads/admin/' + userData.profilePic }}" width="150" height="150" alt="">


        <form name="profilePic"   ng-submit="submit($event)">
            <div class="uploadPic">
                <span><img src="front/img/uploadPic_icon.png" alt=""></span>
                <div style="padding: 5px 0;" class="file_button_container" ngf-select ng-model="Data.image"
                     required name="image" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ng-change="changeProfilePic($event)"><span> Upload  Picture</span></div>

            </div>
        </form>
    </div>
    <div class="userInfo">
        <div class="navPills">
            <button ui-sref="user-private-timeline">Private Timeline</button>
            <button ng-if="userData.type == 'Merchant' || userData.type == 'Producer'" ui-sref="user-products">My Products</button>
            <button ng-if="userData.type == 'Merchant' || userData.type == 'Service Provider'" ui-sref="user-services">My Services</button>

        </div>

        <div class="userName">{{userData.name}}, <small>{{userData.type}}</small></div>
        <div>{{userData.company}}</div>
        <div><flag country="{{ country | lowercase }}" size="32"></flag></div>
        <div class="desc">{{userData.description}}</div>
        <div class="usefulLinks"> <a ui-sref="followers"><span class="followers" ng-init="getFollowersCount()">{{FollowersCount}} followers</span> </a>
            <a ui-sref="following"> <span class="followers" ng-init="getFollowingCount()">{{FollowingCount}} following</span></a>

            </span> <span class="url"><a target="_blank" ng-href="">{{userData.email}}</a></span> </div>
    </div>
</div>
<div class="userTopProducts">
    <div class="heading">
        <div>
            <h3>User Rating</h3>
            <div class="ProductAvailability">
                <label>Product Availability: </label>
                <input type="text" ng-model="search" autocomplete="off" placeholder="Enter Pincode">

            </div>
        </div>
    </div>
    </div>
<!--
<div class="userTopProducts">
    <div class="heading">
        <div>
            <h3>User Rating</h3>
            <div class="ProductAvailability">
                <label>Product Availability: </label>
                <input type="text" ng-model="search" autocomplete="off" placeholder="Enter Pincode">
                <button ng-click="searchProductsByPincode()"  ng-if="search">Search</button>
            </div>
        </div>
    </div>


    <div class="productSec" ng-repeat="checkProduct in checkProducts">
        <div class="product">
            <div class="productTitle"><a target="_blank" href="{{checkProduct.productUrl}}">{{checkProduct.title}}</a></div>
            <div class="category"><strong>Category:</strong> {{checkProduct.category.name}} <span ng-if="checkProduct.subCategory"> {{checkProduct.subCategory.name}} </span></div>
            <div class="rating">
                <ng-rate-it ng-model="rate[checkProduct._id]"   ng-init="rate[checkProduct._id] = checkProduct.rate" ng-click="ratedCallback(checkProduct._id,loginUserId)"></ng-rate-it>


            </div>
            <div class="productPic"><a ui-sref="product-detail({productId:checkProduct._id})">
                <img ng-if="checkProduct.image" src="{{ imageUrl + 'uploads/admin/' + checkProduct.image }}"  alt="">
                <img ng-if="!checkProduct.image" src="{{ imageUrl + 'uploads/admin/product.png'}}" alt="">

            </a></div>
            <div class="price">${{checkProduct.price}} <small>only</small></div>
            <div class="img-function">
                <span class="glyphicon glyphicon-pencil" ui-sref="product-edit({productId:checkProduct._id})" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-trash"  ng-click="deleteProduct(checkProduct._id)" aria-hidden="true"></span>
            </div>
        </div>
        </div>


    </div>

<div ng-if="checkProducts.length == 0" class="productSec">
        <div class="alert alert-info">
            <strong>Info!</strong> No record found.
        </div>

    </div> -->

</div>

<style>
	
</style>
