<div class="who_we_are" id="who-we-are">
		<div class="container">
			<div class="row upword">
				<div class="col-md-5 col-sm-5 col-xs-12 video-col">
					<div class="video_section">
						<iframe width="500" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg" frameborder="0" allowfullscreen></iframe>
						<h3><i class="fa fa-eye" aria-hidden="true"></i>First time here? watch our video</h3>
					</div><!--video_section-->
				</div><!-- col -->
				<div class="col-md-8 col-sm-7 col-xs-12 descr-col">
				<div class="descr">
					<h2>Who We Are</h2>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
					<ul>
						<li><h3><span>15 </span>Years<br> Experience</h3></li>
						<li><h3><span>25 </span>Awards<br> Nominees</h3></li>
						<li><h3><span>800+ </span>Happy<br> Customers</h3></li>
					</ul>
				</div><!--descr-->
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- who_we_are -->
	<div class="our_services" id="service">
		<h2>Our Services</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
		<div class="service_wrap">
			<div class="service" style=" background: url(./front/images/messaging.jpg);">
			<img src="./front/images/msg-icon.png">
			<h3>Text Therapy</h3>
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
			<a href="#" data-toggle="modal" data-target=".modalLogin"> Start Chatting</a>
			</div><!-- service -->
			<div class="service" style=" background: url(./front/images/couples-the.jpg);">
				<img src="./front/images/video-chat.png">
			<h3>Video Chat Therapy</h3>
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
			<a href="#" data-toggle="modal" data-target=".modalLogin"> Start Chatting</a>
			</div><!-- service -->
			<div class="service" style=" background: url(./front/images/live_chat.jpg);">
				<img src="./front/images/live-chat-icon.png">
			<h3>Live Chat Therapy</h3>
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
			<a href="#" data-toggle="modal" data-target=".modalLogin"> Start Chatting</a>
			</div><!-- service -->
		</div><!--service_wrap-->
	</div><!-- our_services -->
	<div class="how_it_works" id="how_it_works">
			<div class="container">
			<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="how_it">
			<h2><span>How It</span>Work</h2>
			<p>Lorem ipsum dolor sit amet, adipisici elit, sed eiusmod tempor incidunt ut labore etc.Lorem ipsum dolor sit amet, consectetur adipisici elit, etc.
			</p>
			<a href="#">Learn More</a>
			</div>
			</div><!-- col -->
			<div class="col-md-8 col-sm-8 col-xs-12">
			<h2 class="get">Getting Started</h2>
				<ul class="get_started">
					<li><h3>Get a Assessment</h3><p>Chat with a matching therapist to identify your therapy needs.</p></li>
					<li><h3>Choose the Right Plan</h3><p>Chat with a matching therapist to identify your therapy needs.</p></li>
					<li><h3>Find Your Match</h3><p>Chat with a matching therapist to identify your therapy needs.</p></li>
					<li><h3>Begin therapy</h3><p>Chat with a matching therapist to identify your therapy needs.</p></li>
				</ul>
			</div><!-- col -->
			</div><!-- row -->
			<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
			<h2 class="get">During Therapy</h2>
				<ul class="during_therapy">
					<li><h3>Get a Assessment</h3><p>Chat with a matching therapist to identify your therapy needs.</p></li>
					<li><h3>Choose the Right Plan</h3><p>Chat with a matching therapist to identify your therapy needs.</p></li>
					<li><h3>Find Your Match</h3><p>Chat with a matching therapist to identify your therapy needs.</p></li>
					<li><h3>Begin therapy</h3><p>Chat with a matching therapist to identify your therapy needs.</p></li>
				</ul>
			</div><!-- col -->
			<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="therapy_img">
			<img src="./front/images/during_ther.png" class="img-responsive">
			</div>
			</div><!-- col -->
			</div><!-- row -->
			</div><!--container-->
	</div><!-- how_it_works -->
	<div id="carousel" class="testimonial">    				
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
					<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
					<!-- Carousel indicators -->
					<ol class="carousel-indicators">
						<li data-target="#fade-quote-carousel" data-slide-to="0">	
							<div class="client_img">
								<img src="./front/images/testi1.png" alt="testimonial">
							</div>
						</li>
						<li data-target="#fade-quote-carousel" data-slide-to="1" class="active">	
							<div class="client_img">
								<img src="./front/images/testi2.png" alt="testimonial">
							</div>
						</li>
						<li data-target="#fade-quote-carousel" data-slide-to="2">
							<div class="client_img">
								<img src="./front/images/testi3.png" alt="testimonial">
							</div>
						</li>
					</ol>
					  <!-- Carousel items -->
					  <div class="carousel-inner">
						<div class="item">
							<blockquote>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							</blockquote>
						<!-- 	<div class="client_img">
								<img src="./front/images/testi1.png" alt="testimonial">
							</div> -->
							<h3>AMANDA ANDERSON</h3>
							<h4>CLIENT</h4>		
						</div>
						<div class="item">
							<blockquote>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							</blockquote>
							<!--  <div class="client_img">
							<img src="./front/images/testi2.png" alt="testimonial">
						</div> -->
						<h3>AMANDA ANDERSON</h3>
						<h4>CLIENT</h4>		
						</div>
						<div class="active item">
							<blockquote>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							</blockquote>
						<!-- 	<div class="client_img">
								<img src="./front/images/testi3.png" alt="testimonial">
							</div> -->
							<h3>AMANDA ANDERSON</h3>
							<h4>CLIENT</h4>
						</div>
					  </div>
					</div>
				</div>							
			</div>
		</div>
	</div>
	<div class="our_blog">
		<h2>Our Blog</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
		<div class="container">
			<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
			<ul id="blog_ul">
				<li><img src="./front/images/blog1.jpg" alt="blog">
					<h3>Consetur sadipscing elitr sed diam </h3>
					<p>Lorem ipsum doloramet consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
					<a href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</li>
				<li><img src="./front/images/blog2.jpg" alt="blog">
					<h3>Consetur sadipscing elitr sed diam </h3>
					<p>Lorem ipsum doloramet consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
					<a href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</li>
				<li><img src="./front/images/blog3.jpg" alt="blog">
					<h3>Consetur sadipscing elitr sed diam </h3>
					<p>Lorem ipsum doloramet consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
					<a href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</li>
			</ul>
			</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- our_blog -->
	