<div class="col-md-3" ng-init="userProfile()">
  <div class="privateTimelineProfile">
      <a ui-sref="front-dashboard"> <img ng-if="!userData.profilePic" class="profilePic" ng-src="front/img/profilePic_privateTimeline.png" alt="">
      <img ng-if="userData.profilePic" class="profilePic" ng-src="{{ imageUrl + 'uploads/admin/' + userData.profilePic }}" width="250" height="150" alt="">
   <div class="name">{{userData.name}}</div></a>

    <!----<ul>
      <li><a ui-sref="message-board.compose"><img ng-src="front/img/messageIcon.png" alt="">Messages</a></li>
      <li><a ui-sref="followers" style="line-height:30px;"><img ng-src="front/img/followIcon.png" alt="">Followers</a></li>
        <li><a ui-sref="following" style="line-height:30px;"><img ng-src="front/img/followIcon.png" alt="">Following</a></li>

    </ul>--->
  </div>

</div>
<div class="col-md-9 privateTimeline" ng-init="productsList()" infinite-scroll='reddit.nextPost()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
  <div class="shareSec">
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="home" ng-click="activeTab('home','profile')" data-toggle="tab"><img ng-src="front/img/writePost_icon.png" alt=""> Post</a></li>
        <li><a href="profile" ng-click="activeTab('profile','home')" data-toggle="tab"><img ng-src="front/img/uploadPhoto_icon.png" alt=""> Picture</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <form name="addTimeLinePost" ng-submit="addUserTimeLinePost(addTimeLinePost.$valid)">
                <input name="confirmPassword"
                       ng-model="postData.post"
                       placeholder="Write your Post Here...." type="text"
                       required>
                <button type="submit" ng-disabled="addTimeLinePost.$invalid">
                    Share
                </button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile"  style="margin-left:50px;padding-top:10px;">
            <form name="addTimeLinePicture" ng-submit="addUserTimeLinePicture(addTimeLinePicture.$valid)">

                            <div class="fileupload-new  upload_wrp">
                                <img ng-src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                                     ng-show="pictureData.image == undefined"/>

                                <div ng-if="pictureData.image != undefined">
                                    <img ngf-thumbnail="pictureData.image || '/thumb.jpg'"     width="150" height="150">
                                </div>
                            </div>

                                <div  class="file_button_container" ngf-select ng-model="pictureData.image"
                                     required name="image" ngf-pattern="'image/*'"
                                     ngf-accept="'image/*'" required >
                                     
                                     <span> Upload Image</span></div>






                <button type="submit" ng-disabled="addTimeLinePicture.$invalid">
                    Upload
                </button>

                </form>
        </div>
      </div>
    </div>
  </div>
  <div class="PostSec" ng-repeat="item in reddit.items">
    <div class="userSec">
      <div class="userInfo"><img ng-src="{{ imageUrl + 'uploads/admin/' + item.user.profilePic }}" width="50" height="50" alt=""> <span>
          <label>{{item.user.name }}   <a  ui-sref="other-general-timeline({userId:item.originalUser})"  ng-if="!item.original" style="float:right"> shared {{item.originalUserName}}'s post</a></label>
          <label>{{item.user.email}}</label>
          <label> {{item.created | date:'MM/dd/yyyy @ h:mma'}}</label>
          </span> </div>
      <div class="userType">
          <img  ng-if="item.user.type == 'Merchant'" ng-src="front/img/merchantBadge.png" alt="">
          <img  ng-if="item.user.type == 'Producer'"  ng-src="front/img/ProducerBadge.png" alt="">
          <img  ng-if="item.user.type == 'Service Provider'" ng-src="front/img/merchantBadge.png" alt="">


          <span>{{item.user.type}}</span></div>
    </div>
    <div class="desc">
        {{item.post}}
      <!--  <a href="#" ng-if="item.post">Read Full Story</a> -->
        <img ng-src="{{ imageUrl + 'uploads/admin/' + item.image }}" width="100%" height="auto" alt="">

    </div>
      <div class="actions">

      <a ng-show="!item.likeByMe" like class="like"  liketype="true"  postid="item._id"  style="cursor: pointer"><img ng-src="front/img/like.png" alt="" style="margin: -8px 6px 0px 20px;"><span>{{item.likeCount}}</span>  like </a>
      <a ng-show="item.likeByMe" unlike class="unlike" liketype="false"   postid="item._id"  style="cursor: pointer"><img ng-src="front/img/unlike.png" alt=""style="margin: -8px 6px 0px 20px;"><span>{{item.likeCount}}</span>   like </a></div>

      <div class="comment">
          <!--<form name="myForm" ng-submit="postComment(item._id)">-->
         <img ng-src="{{ imageUrl + 'uploads/admin/' + userData.profilePic }}">



          <span><input commenttextbox postid="item._id" image="userData.profilePic" user="userData._id" username="userData.name" class="commentbox" ng-model="comment[item._id]"   type="text" placeholder="Comment....."></span>
              <!--<button type="submit" style="display:none"></button>-->
          <!--</form>-->

      </div>

     <div class="comment" ng-repeat="comments in item.comment">
          <a ui-sref="user-dashboard({userId:comments.user._id})"><img ng-src="{{ imageUrl + 'uploads/admin/' + comments.user.profilePic }}"  width="50" height="50"></a>
          <a class="name" ui-sref="user-dashboard({userId:comments.user._id})"><span >{{comments.user.name}}</span></a>
          <span style="font-size:12px;">{{comments.comment}}  </span>
         <a style="float:right;padding-right:10px;margin-top: 12px;padding-right: 20px;cursor: pointer;"  deletecomment  commentid="comments._id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </div>


  </div>
    <div ng-show='!reddit.busy'>Loading data...</div>


</div>
</div>
<style>
</style>