<div class="userBanner" ng-init="userProfile();userProductList()"><img src="img/profilePageBanner.jpg" alt=""></div>
<div class="userSec">
  <div class="profilePic"><img src="uploads/user/profilePic.jpg" alt=""></div>
  <div class="userInfo">
    <div class="navPills">
      <button>Message</button>
      <button>Private Timeline</button>
      <button ui-sref="product-add">My Products</button>
    </div>
    <div class="userName">{{userData.name}}, <small>{{userData.type}}</small></div>
    <div>{{userData.company}}</div>
    <div><img src="img/flag.png" alt=""></div>
    <div class="desc">{{userData.address}}...<a href="">See More</a></div>

    <div class="usefulLinks">
      <span class="followers">552 followers</span>
      <span class="seeAllProducts">See All Products</span>
      <span class="url"><a target="_blank" ng-href="">{{userData.email}}</a></span>
    </div>

  </div>
</div>
<div class="userTopProducts">
  <div class="heading">
    <div><h3>Our Top 5 Products</h3> <div><label>Product Availability: </label><input type="search" placeholder="Enter Pincode"><button>Search</button></div></div>
  </div>
  <div class="productSec">
    <div class="product">
      <div class="productTitle"><a href="">Smart Watch FDR(X)</a></div>
      <div class="category"><strong>Category:</strong> Electronics > Watch</div>
      <div class="productPic"><img src="img/product1.png" alt=""></div>
      <div class="price">$25.00 <small>only</small></div>
    </div>

    <div class="product">
      <div class="productTitle"><a href="">Smart Watch FDR(X)</a></div>
      <div class="category"><strong>Category:</strong> Electronics > Watch</div>
      <div class="productPic"><img src="img/product1.png" alt=""></div>
      <div class="price">$25.00 <small>only</small></div>
    </div>

    <div class="product">
      <div class="productTitle"><a href="">Smart Watch FDR(X)</a></div>
      <div class="category"><strong>Category:</strong> Electronics > Watch</div>
      <div class="productPic"><img src="img/product1.png" alt=""></div>
      <div class="price">$25.00 <small>only</small></div>
    </div>

    <div class="product">
      <div class="productTitle"><a href="">Smart Watch FDR(X)</a></div>
      <div class="category"><strong>Category:</strong> Electronics > Watch</div>
      <div class="productPic"><img src="img/product1.png" alt=""></div>
      <div class="price">$25.00 <small>only</small></div>
    </div>

    <div class="product">
      <div class="productTitle"><a href="">Smart Watch FDR(X)</a></div>
      <div class="category"><strong>Category:</strong> Electronics > Watch</div>
      <div class="productPic"><img src="img/product1.png" alt=""></div>
      <div class="price">$25.00 <small>only</small></div>
    </div>

    <div class="product">
      <div class="productTitle"><a href="">Smart Watch FDR(X)</a></div>
      <div class="category"><strong>Category:</strong> Electronics > Watch</div>
      <div class="productPic"><img src="img/product1.png" alt=""></div>
      <div class="price">$25.00 <small>only</small></div>
    </div>
  </div>
</div>

<style>
  body > .container {
    margin-top: 75px;
    padding:0;
  }

</style>