<div class="title_bread_cum">
	<div class="bann_cont">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1>Register</h1>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- bann_cont -->
	<div class="bread">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					 <ol class="breadcrumb">
		    			<li><a href="#home">Home</a></li>
		    			<li class="current"><a href="#register">Register</a></li>       
			  		</ol>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- bread -->
	</div><!--title_bread_cum-->
	<div class="login_form regis">
		<div class="member">
		<h3><i class="fa fa-user" aria-hidden="true"></i><span>Member registration</span></h3>
		</div>
		<form>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="login_input">
							<div class="form-group">
							<input type="text" class="form-control" id="f_name" placeholder="First Name*" name="firstname">
							<input type="text" class="form-control" id="l_name" placeholder="Last Name" name="lastname">
							</div>
							<div class="form-group">
							<input type="email" class="form-control" id="email" placeholder="Email Address*" name="email">
							</div>
							<div class="form-group">
							<input type="password" class="form-control" id="pwd" placeholder="Password*" name="pwd">
							<input type="password" class="form-control" id="con_pwd" placeholder="Confirm Password*" name="con_pwd">
							</div>
							<button type="submit" class="btn btn-default create_acc">Create Account</button>
							<h3>Already have Account? <a href="#signin">Sign In</a></h3>
						</div>
					</div><!-- col -->
				</div><!-- row -->
			</div><!--container-->
		</form>
	</div><!-- login_form -->