<div class="title_bread_cum">
	<div class="bann_cont">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1>Sign In</h1>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- bann_cont -->
	<div class="bread">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					 <ol class="breadcrumb">
		    			<li><a href="#home">Home</a></li>
		    			<li class="current"><a href="#signin">Sign In</a></li>       
			  		</ol>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- bread -->
</div>
<div class="login_form">
	<div class="member">
		<h3><i class="fa fa-user" aria-hidden="true"></i><span>Account - Member Login</span></h3>
	</div>
	<form>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="login_input">
						<div class="form-group">
						<input type="email" class="form-control" id="email" placeholder="Username or Email" name="email">
						</div>
						<div class="form-group">
						<input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
						</div>
						<div class="checkbox">
						<label><input type="checkbox" name="remember"> Remember me</label>
						</div>
						<button type="submit" class="btn btn-default">Sign In</button>
					</div>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</form>
</div><!-- login_form -->
<div class="need_help">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h4>Need help to logging-in?</h4>
				<h5>if you don't have an account yet, <a href="#register">Register Here</a> and get started.<br>
				Lost or Forgot your password? you can change it with <a href="#reset-password">Reset Password</a> here</h5>
			</div><!-- col -->
		</div><!-- row -->
	</div><!--container-->
</div><!-- need_help -->