<div class="title_bread_cum">
	<div class="bann_cont">
		<div class="container">
			<div class="row team_row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1>Meet our Be Up team</h1>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- bann_cont -->
	<div class="bread">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					 <ol class="breadcrumb">
		    			<li><a href="#home">Home</a></li>
		    			<li class="current"><a href="#team">Team</a></li>       
			  		</ol>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- bread -->
	</div>
	<section class="man_luc">
		<div class="jean_box">
			<div class="container">
				<div class="col-md-12">
					<div class="box_img">
						<div class="center_box">
							<div class="jean_bg">
							<img src="./front/images/pic_1.png">
						</div>
						<h2>Jean Luc</h2>
						<span>Founder of Be Up</span>
						</div>
						<p>Today still wanted by the government they survive as soldiers of fortune so this is the tale of our cast aways they're here for a long long time they'll have to make the best of things its an uphill climb it's time to put on makeup it's time to dress up right it's time to raise the curtain on the muppet show.
						Tonight the weather started getting rough the tiny ship was tossed. 
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="core_team tem_br">
			<div class="container">
				<div class="col-md-12">
					<div class="team_top_title">
						<h1>Core team</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
					</div>
					<div class="col-md-4">
						<div class="core_team_br">
							<div class="jone_box">
								<div class="img_box22">
									<img src="./front/images/pic_2.png">
								</div>
								<h2>John Doe</h2>
								<span>Co-founder, Company Name</span>
								<p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at.</p>
								<div class="view_button">
									<a href="#">View Profile</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="core_team_br">
							<div class="jone_box">
								<div class="img_box22">
									<img src="./front/images/pic_3.png">
								</div>
								<h2>John Doe</h2>
								<span>Co-founder, Company Name</span>
								<p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at.</p>
								<div class="view_button">
									<a href="#">View Profile</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="core_team_br">
							<div class="jone_box">
								<div class="img_box22">
									<img src="./front/images/pic_4.png">
								</div>
								<h2>John Doe</h2>
								<span>Co-founder, Company Name</span>
								<p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at.</p>
								<div class="view_button">
									<a href="#">View Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="core_team tem_br tem_br_bottom">
			<div class="container">
				<div class="col-md-12">
					<div class="team_top_title">
						<h1>Our Be-Up Therapist</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
					</div>
				</div>
						<div class="col-md-3">
							<div class="core_team_br">
								<div class="jone_box">
									<div class="img_box22">
										<img src="./front/images/pic_5.png">
									</div>
									<h2>John Doe</h2>
									<span>Co-founder, Company Name</span>
									<p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at.</p>
									<div class="view_button">
										<a href="#">View Profile</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="core_team_br">
								<div class="jone_box">
									<div class="img_box22">
										<img src="./front/images/pic_6.png">
									</div>
									<h2>John Doe</h2>
									<span>Co-founder, Company Name</span>
									<p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at.</p>
									<div class="view_button">
										<a href="#">View Profile</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="core_team_br">
								<div class="jone_box">
									<div class="img_box22">
										<img src="./front/images/pic_7.png">
									</div>
									<h2>John Doe</h2>
									<span>Co-founder, Company Name</span>
									<p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at.</p>
									<div class="view_button">
										<a href="#">View Profile</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="core_team_br">
								<div class="jone_box">
									<div class="img_box22">
										<img src="./front/images/pic_8.png">
									</div>
									<h2>John Doe</h2>
									<span>Co-founder, Company Name</span>
									<p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at.</p>
									<div class="view_button">
										<a href="#">View Profile</a>
									</div>
								</div>
							</div>
						</div>
					<div class="col-md-12">
						<div class="therepast">
							<h2>Are you a Therapist?<a href="#">Join Us</a></h2>
						</div>
					</div>
			</div>
		</div>
	</section>