<form class="form-horizontal" name="EditUser" ng-submit="updateUser(EditUser.$valid)"  autocomplete="off">
  <div class="form-group">
    <label class="col-sm-3 control-label">User Name*</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="first_name" ng-model="fromData.name" placeholder="Name" required maxlength="20">
      <div ng-messages="EditUser.first_name.$error"
           ng-show="EditUser.first_name.$invalid && !EditUser.first_name.$pristine">
        <div ng-message="required" class="error-class">Please Enter  Name</div>
        <div ng-message="maxlength" class="error-class">This field accept maximum 20 characters</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Last Name*</label>
    <div class="col-sm-8">
      <input type="text" class="form-control"  name="last_name" ng-model="fromData.lastName" placeholder="Last Name" required maxlength="20">
      <div ng-messages="EditUser.last_name.$error"
           ng-show="EditUser.last_name.$invalid && !EditUser.last_name.$pristine">
        <div ng-message="required" class="error-class">Please Enter Last  Name</div>
        <div ng-message="maxlength" class="error-class">This field accept maximum 20 characters</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Email*</label>
    <div class="col-sm-8">
      <input type="Email" class="form-control" name="email" ng-model="fromData.email" placeholder="Email" required>
      <div ng-messages="EditUser.email.$error"
           ng-show="EditUser.email.$invalid && !EditUser.email.$pristine">
        <div ng-message="required" class="error-class">Please Enter Email</div>
        <div ng-message="email" class="error-class">Please Enter valid email</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Company*</label>
    <div class="col-sm-8">
      <input type="text" class="form-control"  ng-model="fromData.company" name="company" placeholder="Company" maxlength="30">
      <div ng-messages="EditUser.company.$error"
           ng-show="EditUser.company.$invalid && !EditUser.company.$pristine">
        <div ng-message="required" class="error-class">Please Enter Company</div>
        <div ng-message="maxlength" class="error-class">This field accept maximum 30 characters</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Address*</label>
    <div class="col-sm-8">
      <input name="address" g-places-autocomplete ng-model="fromData.address" class="form-control tooltipstered" placeholder="Address"  type="text" required>
      <div ng-messages="SignUpFrom.address.$error"
           ng-show="SignUpFrom.address.$invalid && !SignUpFrom.address.$pristine">
        <div ng-message="required" class="error-class">Please Enter Address</div>

      </div>
    </div>

  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Description*</label>
    <div class="col-sm-8">
      <textarea rows="3" class="form-control"  ng-model="fromData.description" placeholder="Description" required></textarea>
      <div ng-messages="EditUser.description.$error"
           ng-show="EditUser.description.$invalid && !EditUser.description.$pristine">
        <div ng-message="required" class="error-class">Please Enter Company</div>
      </div>


    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" ng-disabled="EditUser.$invalid" class="btn btn-default">Update</button>
    </div>
  </div>
</form>