<div class="title_bread_cum">
	<div class="bann_cont">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1>Who We<span> Are!</span></h1>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- bann_cont -->
	<div class="bread">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					 <ol class="breadcrumb">
		    			<li><a href="#home">Home</a></li>
		    			<li class="current"><a href="#who-we-are">Who We Are</a></li>       
			  		</ol>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- bread -->
	</div>
	<div class="comp-overview">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-7 col-xs-12">
				<h3>Company Overview</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim lectus ac arcu mollis luctus. 
Aliquam sit amet nisi imperdiet, vulputate ligula viverra, aliquet augue. Suspendisse vitae ligula mollis, fermentum neque eget, pharetra arcu. Nunc in nisi orci. Nulla laoreet nulla posuere arcu ultricies feugiat. </p>
				<ul>
					<li>
						<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
						Vestibulum laoreet fringilla augue, sit amet interdum.
					</li>
					<li>
						<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
						Ut dignissim, odio sit amet dignissim ultrice.
					</li>
					<li>
						<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
						Vestibulum laoreet fringilla augue, sit amet interdum.
					</li>
					<li>
						<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
						Ut dignissim, odio sit amet dignissim ultrice.
					</li>
				</ul>
				</div><!-- col -->
				<div class="col-md-6 col-sm-5 col-xs-12">
					<div class="comp_img">
						<img src="./front/images/com-pro.jpg" class="img-responsive">
					</div><!--comp_img-->
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- comp-overview -->

	<div class="our_history">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h3>Our History</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in tortor vulputate, commodo nulla imperdiet, malesuada lectus. Ut eu purus<br>fermentum, iaculis diam venenatis, posuere dui. </p>
					<ul class="nav nav-pills">
						<li><a data-toggle="pill" href="#2014">2014</a></li>
						<li class="active"><a data-toggle="pill" href="#2015">2015</a></li>
						<li><a data-toggle="pill" href="#2016">2016</a></li>
						<li><a data-toggle="pill" href="#now">Now</a></li>
					</ul>

					<div class="tab-content">
						<div id="2014" class="tab-pane fade">
							<h3>2014</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div id="2015" class="tab-pane fade in active">
						<div class="left_section">
							<h4>2015's</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim lectus ac arcu mollis luctus. 
							Aliquam sit amet nisi imperdiet, vulputate ligula viverra, aliquet augue. 
							Suspendisse vitae ligula mollis, fermentum neque eget, pharetra arcu.<br><br> 

							Nunc in nisi orci. Nulla laoreet nulla posuere arcu ultricies feugiat.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus placerat, velit tincidunt ultrices dictum, metus turpis placerat nibh, nec cursus felis enim in sem. </p>
						</div><!-- left_section -->
						<div class="ryt_section">
							<div class="img_2015">
								<img src="./front/images/2015.jpg" class="img-responsive">
							</div>
						</div><!--ryt_section-->
						</div>
						<div id="2016" class="tab-pane fade">
							<h3>2016</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						</div>
						<div id="now" class="tab-pane fade">
							<h3>Now</h3>
							<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						</div>
					</div>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- our_history -->
	<div class="achieved">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					 <h3>From 5 years, We Achived</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					<ul>
						<li><span><img src="./front/images/tick.png"></span><h3><small>500</small>Projects Completed</h3></li>
						<li><span><img src="./front/images/customers.png"></span><h3><small>40</small>Satisfied Customers</h3></li>
						<li><span><img src="./front/images/awards.png"></span><h3><small>66</small>Award Winning</h3></li>
						<li><span><img src="./front/images/support.png"></span><h3><small>20</small>Experts Advisor</h3></li>
					</ul>
				</div><!-- col -->
			</div><!-- row -->
		</div><!--container-->
	</div><!-- achieved -->