<div class="content-wrapper" style="min-height: 426px;" ng-init="getPostListByUserId()">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="box-header with-border ">
                            <div class="col-sm-10">
                                <h2 class="box-title"><strong>Post List</strong></h2>
                            </div>

                        </div>

                        <div class="box-body " style="padding-left: 0px;padding-right: 0px;">

                            <div class="col-sm-10 ">

                            </div>
                            <div class="col-sm-2 ">


                            </div>


                        </div>


                        <!-- /.box-header -->
                        <form method="post" accept-charset="utf-8" id="PageViewForm"
                              action="/projects/cakeadmin/appunisonadmin/categoryListing">
                            <div style="display:none;"><input name="_method" value="POST" type="hidden"></div>
                            <div class="box-body table-responsive no-padding">
                                <div class="col-sm-12" id="PaggingTr">
                                    <table class="table table-bordered table-striped dataTable">

                                        <tbody>
                                        <tr id="Sorting">
                                            <th><a> S No.</a>
                                            </th>

                                            <th>
                                                <a> Post</a>
                                            </th>
                                            <th>
                                                <a>Image</a>
                                            </th>
                                            <th>
                                            <a >Comments</a>
                                            </th>
                                            <th>
                                                <a >Likes</a>
                                            </th>

                                            <th>
                                                <a> Status</a></th>

                                            <th><a>Action</a></th>
                                        </tr>

                                        <tr ng-repeat="item in results">


                                            <td> {{itemsPerPage*(currentPage-1) + $index  + 1}}</td>
                                            <td>{{item.post }}</td>
                                            <td><img src="{{ imageUrl + 'uploads/admin/' + item.image }}"  width="50" height="50" alt=""></td>

                                            <td>   <a  style="cursor: pointer;" ng-click="open(item._id)">Comments</a></td>
                                            <td>   <a  style="cursor: pointer;" ng-click="openn(item._id)">Likes</a></td>

                                            <td><span ng-if="!item.status" class="label label-danger">In Active</span>
                                                <span ng-if="item.status" class="label label-success"> Active</span>
                                            </td>
                                            <td>
                                                <span><a ng-if="item.status"
                                                         ng-click="postStatusChange(item.id,item.status)"
                                                         class="fa fa-fw fa-check table-status-link custom_link"></a></span>
                                                <span><a ng-if="!item.status"
                                                         ng-click="postStatusChange(item.id,item.status)"
                                                         class="fa fa-fw fa-ban table-status-link custom_link"></a></span>
                                                <span><a ng-click="postDelete(item.id)"
                                                         class="table-delete-link fa fa-fw fa-close"
                                                         title="Delete User"></a></span>

                                            </td>


                                        </tr>


                                        </tbody>
                                    </table>


                                    <uib-pagination total-items="totalItems" boundary-links="true"
                                                    ng-model="currentPage"
                                                    ng-change="getAdminList()" class="pagination-sm"
                                                    items-per-page="itemsPerPage"></uib-pagination>
                                </div>
                            </div>

                            <!-- /.box-body -->
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3>Comments!</h3>
    </div>
    <table class="table table-bordered table-striped dataTable">

        <td>
        <tr id="Sorting">
            <th><a> S No.</a>
            </th>

            <th>
                <a> User Name</a>
            </th>
            <th>
                <a>User Email</a>
            </th>
            <th>
                <a >Comment</a>
            </th>
            <th>
                <a>Action</a>
            </th>

        </tr>
        <tr ng-repeat="item in comments">


            <td> {{$index + 1}}</td>
            <td>{{item.user.name }}</td>
            <td>{{item.user.email }}</td>
            <td>{{item.comment }}</td>
            <td><span><a ng-click="commentDelete(item._id)"
                     class="table-delete-link fa fa-fw fa-close"
                     title="Delete Comment"></a></span>
            </td>






        </tr>


        </tbody>

    </table>
    <div class="container">
        <div class="col-sm-6">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>

</script>


<script type="text/ng-template" id="mylikes.html">
    <div class="modal-header">
        <h3>Likes!</h3>
    </div>
    <table class="table table-bordered table-striped dataTable">

        <tbody>
        <tr id="Sorting">
            <th><a> S No.</a>
            </th>

            <th>
                <a> User Name</a>
            </th>
            <th>
                <a>User Email</a>
            </th>
            <th>
                <a >Like</a>
            </th>
            <th>
                <a>Action</a>
            </th>

        </tr>
        <tr ng-repeat="item in comments">


            <td> {{$index + 1}}</td>
            <td>{{item.user.name }}</td>
            <td>{{item.user.email }}</td>
            <td ng-if="item.like"><img src="img/blue-like.png"  alt=""></td>
            <td ng-if="!item.like"><img src="img/red-unlike.png"  alt=""></td>
            <td><span><a ng-click="unlikePost(item._id)"
                         class="table-delete-link fa fa-fw fa-close"
                         title="Delete Like"></a></span>
            </td>







        </tr>


        </tbody>

    </table>
    <div class="container">
        <div class="col-sm-6">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>

</script>
