<div class="userSec" ng-init="getAllProductList();getAllParentCategoryList()">


    <div class="userTopProducts" >
        <div class="heading" >
            <div>

                <div class="selection" style="float:none;padding: 4px;">

                    <input autocomplete="off" g-places-autocomplete
                           ng-model="addressLocation"
                           type="text" class="search" placeholder="Serach Products and more">
                    <input class="search two" type="search"  ng-model="productName" placeholder="Search By Name">
                    <button class="btn btn-default" style="margin: 3px 4px;" ng-click="getAllProductList()">Search</button>
                   <div style="clear:both;"></div>
                    <select ng-model="limit" ng-change="getAllProductList()">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>

                    <select ng-model="sort" ng-change="getAllProductList()">
                        <option value="asc">A-Z</option>
                        <option value="desc">Z-A</option>
                    </select>

                </div>
            </div>


        </div>
        <div class="row">
            <div class="categories col-md-3">
                <div id="menu">
                    <details>
                        <summary>Categories </summary>

                        <div class="list_items" ng-repeat="x in categories">
                           <a ng-click="getAllProductList(x._id)" ><label>{{x.name}}</label></a>
                        </div>

                    </details>

                    <details>
                        <summary>Rating<span id="navarrow"></span> </summary>
                        <div class="list_items">
                            <ng-rate-it ng-model="rating" ng-click="getAllProductList()"></ng-rate-it>
                        </div>
                    </details>

                    <details>
                        <summary>  Price<span id="navarrow"></span> </summary>

                        <rzslider rz-slider-model="sliderr.minValue"
                                  rz-slider-high="sliderr.maxValue"
                                  rz-slider-options="sliderr.options"></rzslider>

                    </details>






                </div>







            </div>
            <div class="productSec col-md-9">
                <div class="product acc" ng-repeat="item in results">
                    <div class="productTitle"><a target="_blank" href="{{item.productUrl}}">{{item.title}}</a></div>
                    <div class="category"><strong>Category:</strong> {{item.category.name}} <span
                            ng-if="item.subCategory"> > {{item.subCategory.name}} </span></div>
                    <div class="rating">
                        <ng-rate-it ng-model="rate[item._id]" ng-init="rate[item._id] = item.rate"
                                    ng-click="ratedCallback(item._id,loginUserId)"></ng-rate-it>


                    </div>
                    <div class="productPic"><a ui-sref="product-detail({productId:item._id})"><img
                            ng-src="{{ imageUrl + 'uploads/admin/' + item.image }}" width="223" height="105" alt=""></a>
                    </div>
                    <div class="price">${{item.price}}
                        <small>only</small>
                    </div>
                </div>

                <div style="clear: both"></div>
                <div>
                    <uib-pagination total-items="totalItems" boundary-links="true"
                                    ng-model="currentPage"
                                    ng-change="getAllProductList()" class="pagination-sm"
                                    items-per-page="itemsPerPage"></uib-pagination>
                </div>

            </div>



        </div>
    </div>
</div>


<style>
    body > .container {
        margin-top: 75px;
        padding: 0;
    }


</style>