*{padding:0;margin:0;box-sizing:border-box;list-style:none;text-decoration:none;}
body{position: relative;}
.container{max-width:1200px;width:100%;}
.navbar-col{float:right;}
.navbar{margin:20px 0 0}
#be_up_nav .nav>li{margin-right:15px}
/*#be_up_nav .nav>li.active a{color: #fd9e40; text-shadow: none;}*/
#be_up_nav .nav>li>a{font-family: 'Roboto', sans-serif; color:#ffffff;font-size:15px;text-transform:uppercase;font-weight:normal; padding: 7px 15px}
#be_up_nav .nav>li:first-child a{padding-left:0;}
#be_up_nav .navbar-nav li.active a i{color:#ef4c4c}
header{background-image:url(../images/home-banner.jpg);background-size: 100% 100%;height:650px;float:left;width:100%;background-position: top center;background-repeat:no-repeat;}
header .header_menu{ float: left; width: 100%; border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 10px 0; -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
  -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
.affix {
  position: fixed;
  top: 0;
  left: 0;
  animation: smoothScroll 1s forwards;
  z-index: 999;
  box-shadow: 0px 0px 10px 1px #001e31;
  /*background: #01917a;*/
  background: #008e72
}
header .logo{position: relative; -webkit-animation: mylogo 2s 0.25s; animation: mylogo 2s 0.25s; -webkit-animation-timing-function: ease;animation-timing-function: ease;}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mylogo {
     0%   { top:-100px;}
    100% { top:0px;}
}

/* Standard syntax */
@keyframes mylogo {
   0%   { top:-100px;}
    100% { top:0px;}
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}



.navbar-default{background:none;box-shadow:none;border-radius:0;border:0;padding:0}
.navbar-default .navbar-collapse{padding:0}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{background-color:transparent;background-image:unset;box-shadow:none;}
#be_up_nav .navbar-nav li.sign_in a{border: 1px solid #ffffff; border-radius: 20px}
.bann_cont{float: left; width: 100%; margin-top: 0px}
.bann_cont h1{font-size: 100px; color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; float: left;margin: 0}
.bann_cont h1 span{color: #fd9e40}
.bann_cont h1 small{font-weight: 300; color: #ffffff; font-size: 60px; margin-bottom: 35px;}
.bann_cont p{font-size: 20px; color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: 300; text-transform: uppercase; float: left; width: 100%; margin: 25px 0 35px}
.bann_cont a{width: 240px; height: 58px; line-height: 58px; font-size: 16px; color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; float: left; border-radius: 50px; text-align: center; text-decoration: none; background: #fda853; /* Old browsers */
background: -moz-linear-gradient(top, #fda853 46%, #fda853 46%, #fda853 47%, #fda853 49%, #fd9e40 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fda853 46%,#fda853 46%,#fda853 47%,#fda853 49%,#fd9e40 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fda853 46%,#fda853 46%,#fda853 47%,#fda853 49%,#fd9e40 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda853', endColorstr='#fd9e40',GradientType=0 ); /* IE6-9 */}

.who_we_are{float: left; width: 100%}
.who_we_are .upword{margin-top: -55px;}
.who_we_are .upword .video_section {
    margin-top: -50px;
    position: relative;
    z-index: 9;
}
.who_we_are .upword .video_section h3{margin: 25px 0 0; color: #fd9e40; font-size: 16px;  font-family: 'Roboto', sans-serif; font-weight: normal; }
.who_we_are .upword .video_section h3 i{margin-right: 10px}
.who_we_are .upword .video-col{position: absolute;}
.who_we_are .upword .descr-col{float: right;}
.who_we_are .upword .descr{background: #f6f6f6; padding: 15px 15px 30px 120px; float: left; width: 100%}
.who_we_are .upword .descr h2{margin: 25px 0 30px; color: #272727; font-size: 30px;  font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; position: relative;}
.who_we_are .upword .descr h2:after{content: ''; width: 80px; height: 1px; background: #fd9e40; position: absolute; left: 0; bottom: -15px;}
.who_we_are .upword .descr p{color: #6e6e6e; font-size: 16px;  font-family: 'Roboto', sans-serif; font-weight: normal; margin: 0 0 30px}
.who_we_are .upword .descr ul li h3{margin: 0;  font-family: 'Roboto', sans-serif;font-weight: normal; font-size: 16px; color: #6e6e6e;}
.who_we_are .upword .descr ul li{float: left; width: 33%}
.who_we_are .upword .descr ul li h3 span{font-weight: bold; font-size: 50px; color: #fd9e40; float: left; width: 100%}
footer {
    float: left;
    width: 100%;
    background: #003e4c
}
.footer p{color: #e1e1e1;  font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 15px;margin: 15px 0 20px}
.footer #address{margin-top: 15px}
.footer #address li{float: left; width: 100%; margin-bottom: 20px;}
.footer #address li h3{color: #e1e1e1;  font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 15px; margin: 0}
.footer #address li h3 span{color: #fd9e40; font-weight: normal;}
.footer #address li h3 span i{ font-size: 18px; margin-right: 10px; width: 15px; }
.footer .links, .footer .services{padding-left: 50px;     /*border-left: 1px solid #002c36;*/ padding-bottom: 20px; /* box-shadow: -2px 0px 0px 0px #0d4855;*/ margin-top: 35px; float: left; width: 100%}
 .footer .services{padding-left: 125px}
.footer h2{color: #ffffff;  font-family: 'Roboto', sans-serif; font-weight: normal; font-size: 20px; text-transform: uppercase; margin: 0; margin-bottom: 20px}
.footer .links li, .footer .services li{margin-bottom: 10px}
.footer .links li:last-child, .footer .services li:last-child{margin-bottom: 0}
.footer .links li a, .footer .services li a{font-size: 15px;   font-family: 'Roboto', sans-serif; font-weight: 300; color: #ffffff}
.footer .links li:hover a, .footer .services li:hover a{color: #fd9e40}
.copy_right {
    float: left;
    width: 100%;
   /* border-top: 1px solid #002c36;
    box-shadow: 0px 0px 0px 2px #0d4855;*/
    background: #023745;
    text-align: center;
}
.copy_right h4{margin: 15px 0; font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #ffffff}
.footer_logo {
    margin-top: 35px;
}
.our_services {
    float: left;
    width: 100%;
    text-align: center;
    padding: 60px 0
}
.our_services h2,.our_therapist h2, .our_blog h2{margin: 0; font-size: 30px; color: #272727; font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; margin-bottom: 15px}
.our_services p, .our_therapist p, .our_blog p{margin: 0; font-size: 16px; color: #6e6e6e; font-family: 'Roboto', sans-serif; font-weight: normal; margin-bottom: 35px}
.service {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 50px 30px 60px;
    background-size: cover!important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.service h3{margin: 0; font-size: 30px; color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; margin: 20px 0}
.service p{margin: 0; font-size: 16px; color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: normal;}
.service a{margin-top:20px; font-size: 16px; color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: normal; text-decoration: none; border: 1px solid #ffffff; border-radius: 50px; display: inline-block; padding: 10px 15px ; width: 185px; text-transform: uppercase;}

.our_therapist{float: left; width: 100%; text-align: center; margin-bottom: 70px}
.our_therapist .item_img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border:4px solid #ffffff;
    float: left;
    box-shadow: 1px 1px 1px 2px #dfdfdf
}
div#our_therapist *{background: transparent;}
.our_therapist .item_img img{width: 100%}
.our_therapist .item{ padding: 25px 0px 25px 5px; float: left;}
.our_therapist .item h3#join{margin: 0; position: absolute; bottom: 0;left: 0; color: #6e6e6e; font-family: 'Roboto', sans-serif; font-weight: normal; text-transform: uppercase; font-size: 16px}
.our_therapist .item h3#join a{ text-decoration: none; color: #fd9e40; font-weight: bold }
div#our_therapist .carousel-caption {
    float: right;
    position: static;
    width: 60%;
    border-left: 1px solid #dfdfdf;
    padding-left: 50px;
    text-shadow: none;
}
div#our_therapist .carousel-caption h3{margin: 0; font-size: 30px; color: #272727; font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: capitalize; margin-bottom: 15px}
div#our_therapist .carousel-caption span, div#our_therapist .carousel-caption p{margin: 0; font-size: 16px; color: #6e6e6e; font-family: 'Roboto', sans-serif; font-weight: normal;}
div#our_therapist .carousel-caption ul#social{width: 100%; float: left; text-align: center; margin: 20px 0}
div#our_therapist .carousel-caption ul#social li{float: left; display: inline-block; float: none;}
    div#our_therapist .carousel-caption a{ font-size: 14px; color: #6e6e6e; font-family: 'Roboto', sans-serif; font-weight: normal; border: 1px solid #6e6e6e; display: inline-block; padding: 7px 15px; border-radius: 50px; text-transform: uppercase; text-decoration: none; margin-top: 20px}
    div#our_therapist .carousel-caption ul#social li a{ color: #6e6e6e; border-radius: 50%; width: 32px; height:
    32px ;border: 1px solid #6e6e6e; text-align: center; line-height: 32px; display: block; padding: 0; margin: 0}
        div#our_therapist .left.carousel-control {
    position: absolute;
    left: 30%;
    top: 75%;
    opacity: 1

}
    div#our_therapist .right.carousel-control {
    position: absolute;
    right: 50%;
    top: 75%;
    opacity: 1;
}
div#our_therapist .left.carousel-control i, div#our_therapist .right.carousel-control i{font-size: 45px; color:  #7f7f7f}
.testimonial{float: left; width: 100%; background: url(../images/testi-bg.jpg); background-repeat: no-repeat; background-size: cover}

.testimonial {
    padding:60px 0;
    text-align: center;
}

.testimonial .quote {
    color: #e49541;
    text-align: center;
    margin-bottom: 30px;
}
.testimonial .quote i{font-size: 7em}
.testimonial #fade-quote-carousel p{font-size: 16px; color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: normal;}
.testimonial #fade-quote-carousel h3{color: #fd9e40; font-size: 14px;font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; margin: 55px 0 0}
.testimonial #fade-quote-carousel h4{color: #ffffff; font-size: 14px;font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; margin: 10px 0 0;}
.testimonial #fade-quote-carousel blockquote{border:0; margin: 0; padding: 0 0 50px}


/*-------------------------------*/
/*    Testimonial Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding: 0  150px
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators > li{width: 68px; height: 68px; background-color: transparent; border:0; text-indent: 0 ; opacity: 0.3; border:3px solid #ffffff; border-radius: 50%; overflow: hidden; transition: all 0.4s;}
#fade-quote-carousel.carousel .carousel-indicators > li.active{opacity: 1; width: 90px; height: 90px;}
#fade-quote-carousel.carousel .carousel-indicators > li.active .client_img img{width: 100%}
#fade-quote-carousel.carousel .carousel-indicators{bottom: 33px}

.our_blog {float: left; width: 100% ;text-align: center; padding: 60px 0 50px}
.our_blog ul#blog_ul li {
    float: left;
    width: 31.9%;
    margin-right: 25px
}
.our_blog ul#blog_ul li:nth-child(3n){margin-right: 0}
.our_blog ul#blog_ul li a{text-align: left; color: #545454; font-size: 15px;font-family: 'Roboto', sans-serif; font-weight: normal; float: left; text-decoration: none }
.our_blog ul#blog_ul li h3{ float: left; text-align: left; color: #000000; font-size: 20px;font-family: 'Roboto', sans-serif; font-weight: normal ; width: 100%;}
.our_blog ul#blog_ul li p{ float: left; text-align: left; color: #6e6e6e; font-size: 16px;font-family: 'Roboto', sans-serif; font-weight: normal ; width: 100%; margin-bottom: 10px}
.our_blog ul#blog_ul li img{display: inline-block; float: none; width: 100%}

.appointment {
    float: left;
    width: 100%;
    background: #0fc1a7;
    padding: 20px 0px
}
.appointment a#appoint{font-size: 16px;font-family: 'Roboto', sans-serif; font-weight: normal ; color: #ffffff; text-transform: uppercase; border-radius: 50px; padding: 10px 20px ; border: 1px solid #ffffff; float: right;  text-decoration: none}
.appointment h3{margin: 0;font-size: 16px;font-family: 'Roboto', sans-serif; font-weight: bold ; color: #ffffff; text-transform: uppercase;  }
.appointment p{margin: 0;font-size: 15px;font-family: 'Roboto', sans-serif; font-weight: normal; color: #ffffff; }
header#we_are{height: 475px; background-size: cover !important}
header#we_are .breadcrumb{background-color: transparent;}
header#we_are .breadcrumb>li+li:before{content: "\f105"; display: inline-block; color: #ffffff;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; font-size: 20px}
header#we_are .breadcrumb li a{color: #fd9e40; font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: bold;text-decoration: none}
header#we_are .breadcrumb li.current a{ font-weight: normal; color: #ffffff }
.comp-overview{float: left; width: 100%; padding: 75px 0 90px}
.comp-overview h3{margin: 0; font-size: 30px; text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight: bold; color: #272727}
.comp-overview p{margin: 0; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #6e6e6e; margin: 25px 0 20px}
.comp-overview li{margin: 0; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: bold; color: #6e6e6e; margin-bottom: 15px}
.comp-overview li i{color: #fd9e40; margin-right: 10px}
.comp-overview .comp_img {float: right;  border: 3px solid #ccc;}
.our_history{float: left; width: 100%; padding: 60px 0 45px; background-image: url(../images/our-history.jpg); text-align: center;     background-repeat: no-repeat; background-size: 100% 100%;}
.our_history h3{margin: 0; font-size: 30px; text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight: bold; color: #ffffff}
.our_history p{margin: 0; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #ffffff; line-height: 25px}
.our_history .nav-pills{margin-top: 70px}
.our_history .nav-pills>li{max-width: 185px; width: 100%; height: 48px ; line-height: 40px; margin-right: 106px; position: relative;}
.our_history .nav-pills>li a{border-radius: 50px;  font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #ffffff ;background-color: transparent; border: 1px solid #ffffff; padding: 4px 15px; text-transform: uppercase;}
.our_history .nav-pills>li.active>a, .our_history .nav-pills>li.active>a:focus, .our_history .nav-pills>li.active>a:hover ,.our_history .nav>li>a:focus, .our_history .nav>li>a:hover{color: #fff; background-color: #fd9e40; padding: 4px 15px;}
.our_history .nav-pills>li:after{content: ''; width: 108px; height: 1px ; background-color: #ffffff  ;position: absolute; top:55%; right: -108px}
.left_section{width: 55%; float: left; text-align: left;}
.left_section h4{margin: 0; font-size: 30px; text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight: bold; color: #ffffff; margin-bottom: 25px}
.ryt_section{width: 45%; float: left;}
.ryt_section .img_2015 { float: right; width: 315px; height: 315px;overflow: hidden;border-radius: 50%;border: 10px solid #fff;}
.our_history .tab-content{padding-top: 60px}
.achieved{float: left; width: 100%; padding: 60px 0; text-align: center;}
.achieved h3{margin: 0; font-size: 30px; text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight: bold; color: #272727; margin-bottom: 25px}
.achieved p{margin: 0; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #6e6e6e; margin-bottom: 50px}
.achieved ul{float: left; width: 100%; margin: 0}
.achieved ul li{float: left;
    width: 22.75%;
    border: 1px solid #b1b1b1;
    margin: 13px; padding: 15px 20px}
.achieved ul li span{float: left; width: 15% ;text-align: left;}
.achieved ul li h3{float: left; width: 85%; margin: 0; text-align: left;  font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #6e6e6e; padding-left: 15px ; text-transform: capitalize;}
.achieved ul li h3 small{float: left; width: 100% ;color: #272727; font-weight: 500; font-size: 40px; margin-bottom: 15px}
/*********************************************login**********/
header#login{background-image: unset; background-color: #0fc1a7; height: auto; padding-bottom: 20px}
header#login .bann_cont h1 {
    font-size: 45px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    float: left;
    margin: 0;
    text-align: center;
    width: 100%
}
header#login .bann_cont{margin-top: 20px}
header#login .breadcrumb{background-color: transparent; text-align: center; margin: 0; padding: 0; }
header#login .breadcrumb li a{color: #ffffff; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; }
header#login .breadcrumb>li+li:before {
    content: "\f105";
    display: inline-block;
    color: #ffffff;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}
header#login #be_up_nav .nav>li>a{color: #333333}
header#login .header_menu{background-color: #ffffff; border:0;}
header#login #be_up_nav .nav>li.sign_in a{color: #ffffff; background-color: #0fc1a7}
.login_form{float: left; width: 100%; padding-top: 30px; text-align: center;}
.login_form form{background-image: url(../images/login-bg.jpg); float: left; width: 100%; padding: 45px 0; background-size: cover; background-repeat: no-repeat;}
.login_input {
    width: 30%;
    float: none;
    display: inline-block;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*box-shadow: 5px 5px 0px 2px #ccc;*/
}
.login_input  button{float: right; box-shadow: none; border-radius: 0; background-color: #0fc1a7; background-image: unset; border:0; text-shadow: none;font-size: 15px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #ffffff;  height: 40px; line-height: 30px ;padding: 0 25px }
.login_input input{border: 1px solid #dbdbdb; height: 40px; border-radius: 0; box-shadow: none; font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #a7a7a7;}
.login_input .checkbox{float: left; font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal; color: #a7a7a7;}
.login_input .checkbox input{height: 15px ; width: 15px}
.login_form .member {
    max-width: 400px;
    float: none;
    display: inline-block;
    width: 100%;
    padding: 0px 0 20px
}

.login_input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #a7a7a7;
 opacity: 1;
 font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal;
}
.login_input input::-moz-placeholder { /* Firefox 19+ */
  color: #a7a7a7;
  opacity: 1;
  font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal;
}
.login_input input:-ms-input-placeholder { /* IE 10+ */
 color: #a7a7a7;
 opacity: 1;
 font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal;
}
.login_input input:-moz-placeholder { /* Firefox 18- */
  color: #a7a7a7;
  opacity: 1;
  font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal;
}
.login_form .member h3 {
    display: inline-block;
    float: left;
    margin: 0;
    line-height: 55px;

}
.login_form .member h3 span{border-left: 1px solid #dbdbdb; margin-left: 15px ;padding-left: 15px; float: left;     color: #272727;
    font-family: 'Roboto', sans-serif;
     font-weight: 500;
     text-transform: uppercase;
     font-size: 24px}
.login_form .member i {
    float: left;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background-color: #0fc1a7;
    border-radius: 50%;
    color: #fff;
}
.need_help {
    float: left;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.need_help h4{    color: #272727;
    font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 16px ;margin:0}
     .need_help h5{    color: #6e6e6e;
    font-family: 'Roboto', sans-serif;
     font-weight: normal;
     font-size: 14px ; line-height: 25px}
      .need_help h5 a{color: #0fc1a7}

/*register************/

/*.regis input#f_name,.regis input#pwd {
    width: 48.5%;
    float: left;
}
.regis input#l_name,.regis input#con_pwd {
    float: right;
    width: 48.5%;
}*/


button.create_acc {
    display: inline-block;
    float: none;
    margin: 30px 0 20px;
}
.register + .login_form .login_input h3{margin: 0; color: #272727;  font-family: 'Roboto', sans-serif;
     font-weight: normal;
     font-size: 16px ;}
     .register + .login_form .login_input h3 a{color: #0fc1a7; text-transform: uppercase;}
     /***contact form***/
     .login_form.contact_form{padding: 60px 0}
     .login_form.contact_form form{background-image: unset; padding: 0}
 .login_form.contact_form .login_input{width: 100%; /*padding: 0*/}
 .login_form.contact_form .login_input textarea,.login_form.contact_form .login_input input{border: 1px solid #dbdbdb;
    height: 40px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #a7a7a7;
}
.login_form.contact_form .login_input textarea{max-width: 100%; width: 100%; padding: 15px; min-height: 100px; resize: none}
.login_form.contact_form .login_input textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #a7a7a7;
 opacity: 1;
 font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal;
}
.login_form.contact_form .login_input textarea::-moz-placeholder { /* Firefox 19+ */
  color: #a7a7a7;
  opacity: 1;
  font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal;
}
.login_form.contact_form .login_input textarea:-ms-input-placeholder { /* IE 10+ */
 color: #a7a7a7;
 opacity: 1;
 font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal;
}
.login_form.contact_form .login_input textarea:-moz-placeholder { /* Firefox 18- */
  color: #a7a7a7;
  opacity: 1;
  font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: normal;
}
ul.con_det{column-count: 2}
ul.con_det li{float: left; width: 100%; text-align: left; color: #6e6e6e; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; padding-left: 30px ; margin-bottom: 15px}
ul.con_det li i{margin-right: 15px; margin-left: -30px; float: left;color: #0fc1a7;
    border: 1px solid #0fc1a7;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%; vertical-align: top}
.stay_conn{float: left; width: 100%}
.stay_conn ul li{float: left;border: 1px solid #a7a7a7;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%; margin-right: 15px}
    .stay_conn ul li i{ color: #a7a7a7; font-size: 20px }
.login_form.contact_form h4{color: #34383d; font-size: 36px; font-family: 'Roboto', sans-serif; font-weight: normal; text-align: left;}
.login_form.contact_form h5{color: #272727; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; text-align: left;}
.login_form.contact_form p{color: #6e6e6e; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: normal; text-align: left;}
.login_form.contact_form .stay_conn h5{color: #34383d; font-size: 24px; font-family: 'Roboto', sans-serif; font-weight: normal; text-align: left; margin: 20px 0}
.login_form.contact_form button{float: left;}
.regis input{
    float: left;
    margin: 0px 0 15px;
}
.modalLogin{text-align: center;}
.modalLogin  .login_input{width: 100%;  border-top-left-radius: 0; border-top-right-radius: 0; border:0;}
.modalLogin .modal-content {
    float: none;
    width: 70%;
    background: #0fc1a7;
    padding: 0;
    padding: 15px 5px 5px 5px;
    border: 0;
    border-radius: 10px;
    display: inline-block;
}
.modalLogin  .modal-content .modal-body{padding: 0}
.modalLogin .login_form{padding: 0}
.modalLogin .login_form form{padding:0; background-image: unset;}
.modalLogin button.close {
    position: absolute;
    right: 10px;
    padding: 0px 5px;
    color: #fff;
    font-size: 25px;
    opacity: 1;
}
.modalLogin .login_form h2 {
    font-size: 25px;
    margin: 0;
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #000;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 15px 0
}
.modal-title{text-align: center;}
.col-md-12.col-sm-12.col-xs-12.form-col{padding:0}
.modalLogin button.create_acc {
    display: inline-block;
    float: none;
    margin: 10px 0 25px;
    width: 200px;
    box-shadow: 0px 5px 0px 0px #009688;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.modalLogin .login_form .login_input h3 {
    margin: 0;
    color: #272727;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.modalLogin .login_form .login_input h3 a {
    color: #0fc1a7;
    text-transform: uppercase;}
    .modalLogin .login_form label a{ color: #0fc1a7;}

  
.modalLogin .btn-default:focus, .modalLogin .btn-default:hover {
      box-shadow: 0px 5px 0px 0px #ccc;}



/****************how it work*****************************/

.how_it_works{float: left; width: 100%}
.get_started{float: left; width: 100%}
.how_it_works {
    counter-reset: section;
}
.how_it_works .how_it{
background: #0fc1a7; padding: 15px; float: left; width: 100%}
.how_it_works .how_it h2{
  font-size: 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0; text-transform: uppercase;

}
.how_it_works .how_it h2 span{font-size: 30px; width: 100%; float: left;}
.how_it_works .how_it p{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #ffffff;
  margin: 25px 0 20px

}
.how_it_works h2.get{
  color: #b7b7b7;
   font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 24px;
  margin-bottom: 30px;
}
.how_it_works .how_it a{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 5px 15px;
  border-radius: 50px;
  float: left;

}
.how_it_works .get_started li{
    counter-reset: subsection;
    position: relative;
    width: 50%;
    border-left: 1px solid #ccc;
    float: left;
    padding: 25px;
    min-height: 150px;
    padding-right: 45px

}
.how_it_works .get_started li:nth-child(n+3), .how_it_works .during_therapy li:nth-child(n+3){border-top: 1px solid #ccc;}
.how_it_works .get_started li:nth-child(odd),.how_it_works .during_therapy li:nth-child(odd){border-left: 0}
.how_it_works .get_started li:before {
    counter-increment: section;
    content: counter(section);    
    font-family: 'Roboto', sans-serif;
    float: left;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    margin-right: 15px;
    font-size: 15px ;
     font-weight: bold;
     color: #0fc1a7
}
.how_it_works .during_therapy li{
    position: relative;
    width: 50%;
    float: left;
    padding: 25px;
    min-height: 150px;
    border-left: 1px solid #ccc;
    padding-left: 45px;

}
.how_it_works .during_therapy li h3,.how_it_works .get_started li h3{
  color: #272727;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
  margin-bottom: 15px;
}
.how_it_works .during_therapy li p,.how_it_works .get_started li p{
  color: #6e6e6e;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0;
  font-size: 16px;
}


/**************team*****************/
.jean_box {
    float: left;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
.jean_bg > img {
    width: 100%;
}
.jean_bg{
border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px #f5f5f5;
    height: 234px;
    width: 234px;
	overflow:hidden;
	margin:auto;

}
.center_box > h2 {
    color: #34383d;
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    margin-bottom: 6px;
}
.center_box > span {
    color: #899096;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    margin-bottom: 14px;
}
.box_img > p {
    color: #6e6e6e;
    font-size: 16px;
    line-height: 24px;
}

.core_team {
    float: left;
    width: 100%;
}
.team_top_title {
    margin-bottom: 50px;
    text-align: center;
}
.team_top_title > h1 {
    color: #272727;
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}
.team_top_title > p {
    color: #6e6e6e;
    font-size: 16px;
}
.img_box22 {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    width: 200px;
	box-shadow: 0 0 1px 2px #f5f5f5;
}
.jone_box {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}
.jone_box > h2 {
    color: #34383d;
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    margin-bottom: 4px;
}
.jone_box > span {
    color: #899096;
    font-size: 14px;
}
.jone_box > p {
    color: #606366;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 10px;
	font-family: "Roboto",sans-serif;
}
.view_button > a {
    background-color: #0fc1a7;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px 32px;
	text-decoration:none;
}
.img_box22 > img {
    width: 200px;
}
.tem_br_bottom {
    margin-top: 51px;
}

.therepast > h2 {
    color: #fff;
    font-size: 25px;
    padding: 16px 0;
    text-align: center;
	font-family: "Roboto",sans-serif;
}
.therepast {
    background-color: #003e4c;
    margin: 50px auto auto;
    width: 33%;
}
.therepast a {
    color: #ffa500;
    padding-left: 15px;
	text-decoration:none;
}

.footer_top_tem {
    background-color: #0fc1a7;
    float: left;
    margin-top: 35px;
    width: 100%;
}
.footer_left_team > h2 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 15px;
}
.footer_left_team > p {
    color: #ffffff;
    font-size: 16px;
}
.footer_right_team {
    margin-top: 27px;
}
.footer_right_team > a {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    padding: 10px 16px;
    text-decoration: none;
	font-family: "Roboto",sans-serif;
}

/***********team end****************/
/*responsive work start*/

@media (min-width: 320px) and (max-width: 479px){
    header{height: auto; padding-bottom: 25px}
    .logo-col{position: absolute;}
    .navbar-collapse{border:0; box-shadow: none; margin-top: 15px}
    .navbar-default{margin: 15px 0 0}
    .navbar-default .navbar-toggle .icon-bar{background-color: #fd9e40; height: 3px}
    .navbar-default .navbar-toggle{border: 2px solid #ffffff; padding: 7px 10px}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #02927b}
    #be_up_nav .navbar-nav li{margin: 0; border-bottom: 1px dashed #fd9e40;}
    #be_up_nav .navbar-nav li.sign_in a{text-align: center; width: 100px}
    #be_up_nav .navbar-nav li.sign_in{padding: 10px 15px}
    #be_up_nav .nav>li>a{font-weight: normal; text-shadow: none}
    #be_up_nav .nav>li:first-child a{padding-left: 15px}
    .modalLogin .modal-content{width: 100%}
    .bann_cont{margin-top: 20px; text-align: center;}
    .bann_cont h1{font-size: 35px; line-height: 25px; width: 100%; text-align: center;}
    .bann_cont h1 small{font-size: 25px; float: left; margin-bottom: 10px; width: 100%; text-align: center;}
    .bann_cont p{margin: 10px 0; font-size: 15px; text-align: center;}
    .bann_cont a {
    width: 200px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    float: none; display: inline-block;
}

.who_we_are .upword, .who_we_are .upword .video_section{margin-top: 0}
.who_we_are .upword .video_section iframe {
    width: 100%;
    height: 220px;
}
.who_we_are .upword .video-col{position: static;}
.who_we_are .upword .descr{padding: 15px}
.who_we_are{padding: 15px 0}
.who_we_are .upword .descr h2{font-size: 22px;margin: 15px 0  20px; text-align: center;}
.who_we_are .upword .descr h2:after{transform: translate(-50%); left: 50%; bottom: -5px;}
.who_we_are .upword .descr p{text-align: justify; font-size:  14px; margin: 0}
.who_we_are .upword .descr ul li{width: 100%; text-align: center;border-bottom: 1px solid #ccc;
    padding: 10px 0;
    border-radius: 10px;}
.who_we_are .upword .descr ul li:last-child{border:0;}
.who_we_are .upword .descr ul li h3 span{font-size: 30px}
.our_services{padding: 30px 15px}
.our_services p, .our_therapist p, .our_blog p{font-size: 15px; margin-bottom: 15px}
.our_services h2, .our_therapist h2, .our_blog h2{font-size: 20px}
.service{width: 100%; padding: 15px}
.our_therapist .item_img{width: 100%; max-width: 350px; max-height: 350px;display: inline-block;float: none; height: 100%}
.our_therapist{margin: 0; padding: 20px 0}
div#our_therapist .carousel-caption{width: 100%; border-left: 0; padding: 15px 0}
div#our_therapist .carousel-caption h3{font-size: 25px}
div#our_therapist .carousel-caption ul#social{margin: 0; margin-bottom: 15px}
div#our_therapist .carousel-caption span, div#our_therapist .carousel-caption p{font-size: 14px}
div#our_therapist .carousel-caption p br{display: none}
.our_therapist .item h3#join{width: 100%; text-align: center;}
#fade-quote-carousel.carousel{padding: 0}
.testimonial{padding: 20px 0}
.testimonial .quote i{font-size: 3em}
.testimonial .quote{margin-bottom: 10px}
.testimonial #fade-quote-carousel p{font-size: 14px;}
#fade-quote-carousel.carousel .carousel-indicators{width: 80%; transform: translate(-50%); margin-left: 0; bottom: 45px}

#fade-quote-carousel.carousel .carousel-indicators > li{width: 50px ; height: 50px}
#fade-quote-carousel.carousel .carousel-indicators > li.active{width: 70px ; height: 70px}
.our_blog{padding: 20px 0}
.our_blog ul#blog_ul li {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px #003e4c;
    padding: 15px;
    border-radius: 5px;
}
.our_blog ul#blog_ul li h3{font-size: 18px; text-align: center;}
.our_blog ul#blog_ul li p{font-size: 14px ; text-align: center;}
.our_blog ul#blog_ul li a{
    background: #003e4c;
    padding: 7px 10px;
    float: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}
.appointment{text-align: center;}
.appointment p{font-size: 14px; margin: 15px 0}
.appointment a#appoint{display: inline-block; float: none; font-size: 14px}
.appointment h3{font-size: 15px}
.footer_logo{margin-top: 20px; text-align: center;}
.footer p{text-align: center; font-size: 14px}
.footer #address li h3{font-size: 14px; text-align: center;}
.footer .links, .footer .services{border:0; box-shadow: none; padding: 0; margin-top: 30px;     border-top: 1px solid #ccc;
    border-radius: 5px; padding-top: 10px}
.footer .links ul, .footer .services ul{width: 100%; float: left; text-align: center; margin: 0}
.footer .links ul li, .footer .services ul li{float: none; display: inline-block; margin: 0px 10px 5px;}
.footer .links li a, .footer .services li a{font-size: 14px}
.footer h2{text-align: center; margin-bottom: 10px}
div#our_therapist .left.carousel-control {
    position: absolute;
    left: -3%;
    top: 43%;
    opacity: 1;
    height: 45px;
}
div#our_therapist .right.carousel-control {
    position: absolute;
    right: -3%;
    top: 43%;
    opacity: 1;
    height: 45px;
}
.copy_right h4{margin: 15px 0}
.copy_right{margin-top: 20px}
.who_we_are .upword .video_section h3{text-align: center; margin: 15px 0}
/************who we are ***********/
header#we_are{height: auto}
header#we_are .breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.bread {
    float: left;
    width: 100%;
    margin-top: 20px;
}
header#we_are .breadcrumb li a{font-size: 14px}
.comp-overview,.our_history, .achieved{padding: 15px 0; text-align: center;}
.comp-overview p, .our_history p,.achieved p{font-size: 14px ; text-align: justify; margin: 10px 0 10px}
.comp-overview h3,.our_history h3, .achieved h3{font-size: 25px ;text-align: center;}
.comp-overview li{font-size: 14px; text-align: left;}
.comp-overview li i{margin-left: -25px;}
.comp-overview li{padding-left: 25px}
.comp-overview .comp_img{float: none; display: inline-block;}
.our_history, .achieved{padding: 15px 0}
.our_history .nav-pills{margin-top: 25px ;text-align: center;}
.our_history .nav-pills>li{ max-width: 105px; height: 30px; line-height: 25px; margin-bottom: 20px;  margin-right: 15px; float: none; display: inline-block;}
.our_history .nav-pills>li:nth-child(2n){margin-right: 0}
    .our_history .nav-pills>li:after { display: none}
.our_history .tab-content {
    padding-top: 30px;
}
.left_section,.ryt_section{width: 100%; text-align: center;}
.ryt_section .img_2015 {
    float: none;
    width: 250px;
    height: 250px;
    display: inline-block;
}
.achieved ul li{display: inline-block; float: none; width: 90%}
.login_input  button{font-size: 14px ; line-height: 25px ; height: 35px ;}


/********************login***************/
.login_input{width: 100%; padding:15px}
.login_form .member{padding: 0 15px}
.login_form .member i {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;}
    .login_form .member h3{line-height: 40px;}
    .login_form .member h3 span{font-size: 18px; margin-left: 10px; padding-left: 10px}
    .login_form{padding-top: 20px}
    .login_form form{padding: 20px 0;}
    .login_form .login_input input{height: 35px}
    header#login{padding-bottom: 30px}
    header#login .bann_cont {
    margin-top: 35px;
}
header#login .bann_cont h1{font-size: 40px}
header#login .breadcrumb{margin-top: 0}
.login_form .login_input input[type='checkbox'] {
    height: auto;
}
.login_input { width: 85%;}

/***********team**************/
.view_button {
    margin-bottom: 20px;
}
.therepast {
    width: 100%;
}
.therepast > h2 {
    font-size: 18px;
    padding: 16px 0;
}
.therepast a {
    padding-left: 5px;
}
.footer_right_team > a {
    margin-bottom: 18px;
	display:inline-block;
}
.team_row h1{
	font-size:30px !important;	
}
.footer_right_team {
    text-align: center;
}
/*******team*********/


   .how_it_works .during_therapy li,
    .how_it_works .get_started li,
    .how_it_works .get_started li:nth-child(n+3),
    .how_it_works .during_therapy li:nth-child(n+3) {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ccc;
        padding: 15px 0;
        text-align: left;
        padding-left: 40px;
    }
    .how_it_works .how_it {
        text-align: center;
    }
    .how_it_works .get_started li:before {
        margin-left: -40px
    }
    .how_it_works .how_it h2 {
        text-align: center;
        font-size: 40px;
    }
    .how_it_works .how_it h2 span {
        font-size: 20px;
    }
    .how_it_works .how_it a {
        float: none;
        display: inline-block;
    }
    .how_it_works .how_it p {
        font-size: 14px
    }
    .how_it_works .during_therapy li h3,
    .how_it_works .get_started li h3 {
        font-size: 18px;
        margin-bottom: 5px
    }
    .how_it_works .during_therapy li p,
    .how_it_works .get_started li p {
        font-size: 14px
    }
    .how_it_works h2.get {
        margin-top: 20px;
        margin-bottom: 10px
    }
    .therapy_img {
        float: left;
        width: 100%;
        text-align: center;
    }
    .therapy_img img {
        display: inline-block;
        float: none;
    }
}


@media (min-width: 480px) and (max-width: 767px){
    header{height: auto; padding-bottom: 25px}
    .logo-col{position: absolute;}
    .navbar-collapse{border:0; box-shadow: none; margin-top: 15px}
    .navbar-default{margin: 15px 0 0}
    .navbar-default .navbar-toggle .icon-bar{background-color: #fd9e40; height: 3px}
    .navbar-default .navbar-toggle{border: 2px solid #ffffff; padding: 7px 10px}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #02927b}
    #be_up_nav .navbar-nav li{margin: 0; border-bottom: 1px dashed #fd9e40;}
    #be_up_nav .navbar-nav li.sign_in a{text-align: center; width: 100px}
    #be_up_nav .navbar-nav li.sign_in{padding: 10px 15px}
     #be_up_nav .nav>li>a{font-weight: normal; text-shadow: none}
    #be_up_nav .nav>li:first-child a{padding-left: 15px}
    .modalLogin .modal-content{width: 90%}
    .bann_cont{margin-top: 20px; text-align: center;}
    .bann_cont h1{font-size: 35px; line-height: 25px; width: 100%; text-align: center;}
    .bann_cont h1 small{font-size: 25px; float: left; margin-bottom: 10px; width: 100%; text-align: center;}
    .bann_cont p{margin: 10px 0; font-size: 15px; text-align: center;}
    .bann_cont a {
    width: 200px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    float: none; display: inline-block;
}

.who_we_are .upword, .who_we_are .upword .video_section{margin-top: 0}
.who_we_are .upword .video_section iframe {
    width: 100%;
    height: 250px;
}
.who_we_are .upword .video-col{position: static;}
.who_we_are .upword .descr{padding: 15px 15px 0}
.who_we_are{padding: 15px 0}
.who_we_are .upword .descr h2{font-size: 22px;margin: 15px 0  20px; text-align: center;}
.who_we_are .upword .descr h2:after{transform: translate(-50%); left: 50%; bottom: -5px;}
.who_we_are .upword .descr p{text-align: justify; font-size:  14px; margin: 0}
.who_we_are .upword .descr ul li{ text-align: center;}
.who_we_are .upword .descr ul li:last-child{border:0;}
.who_we_are .upword .descr ul li h3 span{font-size: 30px}
.our_services{padding: 30px 15px}
.our_services p, .our_therapist p, .our_blog p{font-size: 15px; margin-bottom: 15px}
.our_services h2, .our_therapist h2, .our_blog h2{font-size: 20px}
.service{width: 100%; padding: 15px}
.our_therapist .item_img{width: 100%; max-width: 350px; max-height: 350px;display: inline-block;float: none; height: 100%}
.our_therapist{margin: 0; padding: 20px 0}
div#our_therapist .carousel-caption{width: 100%; border-left: 0; padding: 15px 0}
div#our_therapist .carousel-caption h3{font-size: 25px}
div#our_therapist .carousel-caption ul#social{margin: 0; margin-bottom: 15px}
div#our_therapist .carousel-caption span, div#our_therapist .carousel-caption p{font-size: 14px}
div#our_therapist .carousel-caption p br{display: none}
.our_therapist .item h3#join{width: 100%; text-align: center;}
#fade-quote-carousel.carousel{padding: 0}
.testimonial{padding: 20px 0}
.testimonial .quote i{font-size: 3em}
.testimonial .quote{margin-bottom: 10px}
.testimonial #fade-quote-carousel p{font-size: 14px;}
#fade-quote-carousel.carousel .carousel-indicators{width: 80%; transform: translate(-50%); margin-left: 0; bottom: 45px}

#fade-quote-carousel.carousel .carousel-indicators > li{width: 50px ; height: 50px}
#fade-quote-carousel.carousel .carousel-indicators > li.active{width: 70px ; height: 70px}
.our_blog{padding: 20px 0}
ul#blog_ul {
    float: left;
    width: 100%;
    margin: 0;
    text-align: center;
}
.our_blog ul#blog_ul li, .our_blog ul#blog_ul li:nth-child(3n) {
    width: 47.5%;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px 0px #003e4c;
    padding: 15px;
    border-radius: 5px;
    float: none; display: inline-block;
}
.our_blog ul#blog_ul li:nth-child(2n){margin-right: 0}
.our_blog ul#blog_ul li h3{font-size: 18px; text-align: center;}
.our_blog ul#blog_ul li p{font-size: 14px ; text-align: center;}
.our_blog ul#blog_ul li a{
    background: #003e4c;
    padding: 7px 10px;
    float: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}
.appointment{text-align: center;}
.appointment p{font-size: 14px; margin: 15px 0}
.appointment a#appoint{display: inline-block; float: none; font-size: 14px}
.appointment h3{font-size: 15px}
.footer_logo{margin-top: 20px; text-align: center;}
.footer p{text-align: center; font-size: 14px}
.footer #address li h3{font-size: 14px; text-align: center;}
.footer .links, .footer .services{border:0; box-shadow: none; padding: 0; margin-top: 30px;     border-top: 1px solid #ccc;
    border-radius: 5px; padding-top: 10px}
.footer .links ul, .footer .services ul{width: 100%; float: left; text-align: center; margin: 0}
.footer .links ul li, .footer .services ul li{float: none; display: inline-block; margin: 0px 10px 5px;}
.footer .links li a, .footer .services li a{font-size: 14px}
.footer h2{text-align: center; margin-bottom: 10px}
div#our_therapist .left.carousel-control {
    position: absolute;
    left: -3%;
    top: 43%;
    opacity: 1;
    height: 45px;
}
div#our_therapist .right.carousel-control {
    position: absolute;
    right: -3%;
    top: 43%;
    opacity: 1;
    height: 45px;
}
.copy_right h4{margin: 15px 0}
.copy_right{margin-top: 20px}
.who_we_are .upword .video_section h3{text-align: center; margin: 20px 0}
/************who we are ***********/
header#we_are{height: auto}
header#we_are .breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.bread {
    float: left;
    width: 100%;
    margin-top: 20px;
}
header#we_are .breadcrumb li a{font-size: 14px}
.comp-overview,.our_history, .achieved{padding: 15px 0 ;text-align: center;}
.comp-overview p, .our_history p,.achieved p{font-size: 14px ; text-align: center; margin: 10px 0 10px}
.comp-overview h3,.our_history h3, .achieved h3{font-size: 25px ;text-align: center;}
.comp-overview li{font-size: 14px}
.comp-overview li i{margin-left: -25px;}
.comp-overview li{padding-left: 25px; text-align: left;}
.comp-overview .comp_img{float: none; display: inline-block;}
.our_history, .achieved{padding: 15px 0}
.our_history .nav-pills{margin-top: 25px ;text-align: center;}
.our_history .nav-pills>li{ max-width: 120px; height: 30px; line-height: 30px; margin-bottom: 20px;  margin-right: 15px; float: none; display: inline-block;}
.our_history .nav-pills>li:nth-child(2n){margin-right: 0}
    .our_history .nav-pills>li:after { display: none}
.our_history .tab-content {
    padding-top: 30px;
}
.left_section,.ryt_section{width: 100%; text-align: center;}
.ryt_section .img_2015 {
    float: none;
    width: 250px;
    height: 250px;
    display: inline-block;
}
.achieved ul li{display: inline-block; float: none; width: 45% ;margin: 10px; padding: 15px; }
.achieved ul li h3{font-size: 14px}
.achieved ul li h3 small{font-size: 30px}

/********************login***************/
.login_input{width: 100%; padding:15px}
.login_form .member{padding: 0 15px}
.login_form .member i {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;}
    .login_form .member h3{line-height: 40px;}
    .login_form .member h3 span{font-size: 18px; margin-left: 10px; padding-left: 10px}
    .login_form{padding-top: 20px}
    .login_form form{padding: 20px 0;}
    .login_form .login_input input{height: 35px}
    header#login{padding-bottom: 30px}
    header#login .bann_cont {
    margin-top: 35px;
}
header#login .bann_cont h1{font-size: 40px}
header#login .breadcrumb{margin-top: 0}
.login_form .login_input input[type='checkbox'] {
    height: auto;
}
/*input#l_name, input#con_pwd{margin-top: 20px}*/
button.btn.btn-default.create_acc{width: 180px}
.login_input { width: 55%;}
/*********team***********/
.view_button {
    margin-bottom: 20px;
}
.therepast {
    width: 100%;
}
.therepast > h2 {
    font-size: 22px;
    padding: 16px 0;
}
.therepast a {
    padding-left: 5px;
}
.footer_right_team > a {
    margin-bottom: 18px;
	display:inline-block;
}
.footer_right_team {
    text-align: center;
}
   .how_it_works .during_therapy li,
    .how_it_works .get_started li,
    .how_it_works .get_started li:nth-child(n+3),
    .how_it_works .during_therapy li:nth-child(n+3) {
        padding: 15px;
        text-align: left;
        padding-left: 15px;
    }
    .how_it_works .during_therapy li h3,
    .how_it_works .get_started li h3 {
        font-size: 16px;
        margin-bottom: 5px
    }
    .how_it_works .during_therapy li p,
    .how_it_works .get_started li p {
        font-size: 14px
    }
    .how_it_works h2.get {
        margin-bottom: 10px;
        margin-top: 30px
    }
    .how_it_works .how_it {
        text-align: center;
    }
    .how_it_works .how_it h2 {
        text-align: center;
        font-size: 50px;
    }
    .how_it_works .how_it h2 span {
        font-size: 20px;
    }
    .how_it_works .how_it a {
        float: none;
        display: inline-block;
    }
    .how_it_works .how_it p {
        font-size: 14px
    }
    .therapy_img {
        float: left;
        width: 100%;
        text-align: center;
    }
    .therapy_img img {
        display: inline-block;
        float: none;
    }


/********************/
}

@media (min-width: 992px) and (max-width: 1024px){
.core_team_br {
    width: 100% !important;
}	

.footer_tem_br .col-md-9 {
    width: 63% !important;
}

.footer_tem_br .col-md-3 {
    width: 30% !important;
}
.footer_right_team > a {
    display: inline-block;
}
.therepast {
    width: 47% !important;
}
.therepast {
    float: none !important;
}
}	

@media (min-width: 768px) and (max-width: 1023px){

#be_up_nav .nav>li{margin-right: 10px}

#be_up_nav .nav>li>a{padding: 7px 5px; font-size: 12px}
#be_up_nav .nav>li.sign_in a{padding: 7px 15px}
.navbar-right{margin: 0}
.bann_cont{margin-top: 25px;}
.bann_cont h1{font-size: 60px ; line-height: 60px}
.bann_cont p{ margin: 10px 0 }
header{height: auto; padding-bottom: 25px}

.who_we_are .upword, .who_we_are .upword .video_section{margin-top: 0}
.who_we_are .upword .video_section iframe {
    width: 100%;
    height: 160px;
}
.who_we_are .upword .video-col{position: static;}
.who_we_are .upword .descr{padding: 15px 15px 0}
.who_we_are{padding: 15px 0}
.who_we_are .upword .descr h2{font-size: 22px;margin: 15px 0  20px; text-align: center;}
.who_we_are .upword .descr h2:after{transform: translate(-50%); left: 50%; bottom: -5px;}
.who_we_are .upword .descr p{text-align: justify; font-size:  14px; margin: 0 0 15px}
.who_we_are .upword .descr ul li{ text-align: center;}
.who_we_are .upword .descr ul li:last-child{border:0;}
.who_we_are .upword .descr ul li h3 span{font-size: 30px}
.our_services{padding: 20px 0}
.service{padding: 15px}
.service h3{font-size: 20px ;margin: 10px 0;}
.service p{font-size: 14px; text-align: justify;}
.service a{font-size: 14px ; width: 150px; padding: 7px 12px}
.our_therapist .item_img{width: 100%; max-width: 280px; max-height: 280px;display: inline-block;float: left; height: 100%}
.our_therapist{margin: 0; padding: 20px 0}
div#our_therapist .carousel-caption{padding-left: 15px}
div#our_therapist .carousel-caption span, div#our_therapist .carousel-caption p{font-size: 14px}
div#our_therapist .carousel-caption p br{display: none}
div#our_therapist .right.carousel-control{right: 48.5%}
#fade-quote-carousel.carousel {
    padding: 0 50px;
}
.our_blog ul#blog_ul li{width: 31%}
.our_blog{padding: 20px 0}
.appointment a#appoint{font-size: 14px}
.appointment{padding: 15px 0}
.appointment h3{font-size: 16px ; margin-bottom: 5px}
.appointment p{font-size: 14px}
.footer .links, .footer .services{margin-top: 40px; padding-left: 15px}
.footer .links li, .footer .services li, .footer #address li {
    margin-bottom: 10px;
}
.footer .links li a, .footer .services li a, .footer p, .footer #address li h3{font-size: 14px}
/************who we are ***********/
header#we_are{height: auto}
header#we_are .breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.bread {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.comp-overview,.our_history, .achieved{padding: 25px 0 ;}
.our_history .nav-pills { margin-top: 30px;}
.our_history .nav-pills>li{line-height: 35px; width: 120px; margin-right: 50px}
.our_history .nav-pills>li:after{width: 50px; right: -50px; top: 50%}
.achieved ul li { float: none;  width: 30%; display: inline-block; margin: 10px;padding: 10px}
footer .footer ul{column-count: 1}
.footer #address li:nth-child(even){margin-bottom: 10px}
.login_input { width: 40%;}
/***********team***********/
.core_team_br {
    float: left;
    margin: 0 11px;
    width: 30%;
}
.therepast {
    float: left;
    width: 100%;
}
.view_button {
    margin-bottom: 15px;
}
.footer_right_team {
    float: right;
    margin-top: 39px;
}
.footer_left_team {
    float: left;
    width: 65%;
}
 .how_it_works .during_therapy li,
    .how_it_works .get_started li,
    .how_it_works .get_started li:nth-child(n+3),
    .how_it_works .during_therapy li:nth-child(n+3) {
        padding: 15px;
        text-align: left;
        padding-left: 15px;
    }
    .how_it_works .during_therapy li h3,
    .how_it_works .get_started li h3 {
        font-size: 16px;
        margin-bottom: 5px
    }
    .how_it_works .during_therapy li p,
    .how_it_works .get_started li p {
        font-size: 14px
    }
    .how_it_works h2.get {
        margin-bottom: 10px;
        margin-top: 30px
    }
    .how_it_works .how_it {
        text-align: center;
    }
    .how_it_works .how_it h2 {
        text-align: center;
        font-size: 50px;
    }
    .how_it_works .how_it h2 span {
        font-size: 20px;
    }
    .how_it_works .how_it p {
        font-size: 14px
    }
    .therapy_img {
        float: left;
        width: 100%;
        text-align: center;
    }
    .therapy_img img {
        display: inline-block;
        float: none;
    }
    .how_it_works .how_it a {
        float: none;
        display: inline-block;
    }
    .our_blog ul#blog_ul li p {
        font-size: 14px
    }
    .our_blog ul#blog_ul li h3 {
        font-size: 16px
    }
/*************/

}
@media (min-width: 1024px) and (max-width: 1199px){

#be_up_nav .nav>li{margin-right: 10px}

#be_up_nav .nav>li>a{padding: 7px 5px; font-size: 14px}
#be_up_nav .nav>li.sign_in a{padding: 7px 15px}
.navbar-right{margin: 0}
.bann_cont{margin-top: 25px;}
.bann_cont h1{font-size: 60px ; line-height: 60px}
.bann_cont p{ margin: 10px 0 }
header{height: 550px; padding-bottom: 25px}
.who_we_are .upword .descr{padding: 15px 15px 30px 80px;}
.who_we_are .upword .video_section iframe { width: 100%; height: 265px;}
.who_we_are .upword { margin-top: -25px;}
.who_we_are .upword .video_section{margin-top: -25px}
.who_we_are .upword .descr p{margin-bottom: 15px}
.our_services{padding: 20px 0}
.service{padding: 15px}
.service h3{font-size: 20px ;margin: 10px 0;}
.service p{font-size: 14px; text-align: justify;}
.service a{font-size: 14px ; width: 150px; padding: 7px 12px}
.our_therapist .item_img{width: 100%; max-width: 280px; max-height: 280px;display: inline-block;float: left; height: 100%}
.our_therapist{margin: 0; padding: 20px 0}
div#our_therapist .carousel-caption{padding-left: 15px}
div#our_therapist .carousel-caption span, div#our_therapist .carousel-caption p{font-size: 14px}
div#our_therapist .carousel-caption p br{display: none}
div#our_therapist .right.carousel-control{right: 48.5%}
#fade-quote-carousel.carousel {  padding: 0 50px;}
.our_blog ul#blog_ul li{width: 31%}
.our_blog{padding: 20px 0}
.appointment a#appoint{font-size: 14px}
.appointment{padding: 15px 0}
.appointment h3{font-size: 16px ; margin-bottom: 5px}
.appointment p{font-size: 14px}
.footer .links, .footer .services{margin-top: 40px; padding-left: 15px}
.footer .links li, .footer .services li, .footer #address li {margin-bottom: 10px;}
.footer .links li a, .footer .services li a, .footer p, .footer #address li h3{font-size: 14px}
/************who we are ***********/
header#we_are{height: auto}
header#we_are .breadcrumb { background-color: transparent; margin: 0; padding: 0;}
.bread { float: left; width: 100%; margin-top: 20px;}
.comp-overview,.our_history, .achieved{padding: 25px 0 ;}
.our_history .nav-pills { margin-top: 30px;}
.our_history .nav-pills>li{line-height: 35px; width: 150px; margin-right: 70px}
.our_history .nav-pills>li:after{width: 70px; right: -70px; top: 50%}
.ryt_section .img_2015{width: 280px ;height:280px }
.achieved ul li { float: none;  width: 22%; display: inline-block; margin: 10px;padding: 10px}
}

@media (min-width: 1025px) and (max-width: 1112px){
.core_team_br {
    width: 100% !important;
}	

.footer_tem_br .col-md-9 {
    width: 63% !important;
}

.footer_tem_br .col-md-3 {
    width: 30% !important;
}
.footer_right_team > a {
    display: inline-block;
}	
.therepast {
    width: 47%;
}
}